[2022-01-27 03:42] harshita214 opened #1 "feat: Add new chrome extension"
## Create an extension with your idea it can be a solution to a problem which you face or simply a new innovation you want to build

- [ ] Create a new folder with the name of the extension
- [ ] Add all code (HTML,CSS,JavaScript) in that folder
- [ ] Add a readme file where the preview of the extension is shown
- [ ] Attach a picture of extension while creating a PR

create a Pull Request 🥳
Happy

[2022-01-27 03:50] harshita214 opened #2 "bug: Improve Alarm clock extension by adding suitable HTML, CSS code"
### Currently in Alarm clock extension HTML, CSS code is not present add it . Create a UI for it

Steps to do
- [ ] Add HTML, CSS code file in Alarm clock folder
- [ ] Show the preview

After completing these steps, create a Pull Request 🥳
Happy contributing 🎊

[2022-01-27 04:23] SaintJul commented on #1
Hi, could I help out with the project?

[2022-01-27 04:52] harshita214 commented on #1
Hey @SaintJul
Yes sure, you can contribute once the coding period starts

[2022-01-27 13:02] harshita214 opened #3 "feat : Add a Hello world Extension"
- [ ] Create a folder with all code
- [ ] Add readme with a preview picture of the extension
- [ ] Attach a picture of extension while creating a PR

Create a PR 🥳
Happy contributing 🎊

[2022-01-27 13:24] harshita214 opened #4 "feat : Water break extension"
Make an extension that will remind you to take a break from work and have some water. Add features a timer also.

- [ ] Add all codes in a folder
- [ ] Add a readme file with a preview
- [ ] Attach a picture of extension while creating a PR

Create a PR 🥳
Happy contributing 🎊

[2022-01-27 13:47] harshita214 opened #5 "feat : extension for spacing between letters"
For disabled people facing problems while reading due to space between letters, build an extension that can do text spacing.

- [ ] Add at three spacing options like light spacing where spacing is 2px, moderate has 4px and extra-large has 6px
- [ ] Create a folder and add all the code
- [ ] Create a readme file for preview
- [ ] Attach a picture of extension while creating a PR

Happy contributing

[2022-01-27 14:19] harshita214 opened #6 "feat : create a extension to highlight links"
Sometimes when we are visiting websites, we wish to view all links. So make an extension that will highlight all links present on the webpage.

- [ ] Create a folder and add all code
- [ ] Create a readme file for preview
- [ ] Attach a picture of extension while creating a PR for preview

Create a PR 🥳
Happy contributing 🎊

[2022-01-27 15:27] siddhantsingh-1 commented on #2
Can you brief me up on what type of UI is expected in this Alarm clock extension? From my understanding the background.js file creates a new notification after every 0.1 minute, regardless of any user input.

[2022-01-28 05:09] harshita214 commented on #2
So it will be actually a timer alarm clock and its UI will contain an input option field(with reset icon) for minutes and two buttons start, stop. Yes, the alarm clock js file is not completed and I will open an issue for solving its bug.

[2022-01-28 05:16] harshita214 opened #7 "feat : Timer Extension"
In competitive coding time plays a major role so why not make a timer for all those coders out there to increase their efficiency. Make a new extension called Timer. Add an input field for a time(minutes) along with two buttons of START, STOP. Also, a reset icon for changing time is entered in the input field.

- [ ] Add input field
- [ ] Add a reset button
- [ ] Add two buttons START, STOP
- [ ]

[2022-01-28 05:24] harshita214 opened #8 "fix : UI improvement for Tab Tracker"
This is the current UI, from your creativity improve its colors or design or anything it's totally up to you!
Ps: You can change its icon also

![image](https://user-images.githubusercontent.com/79797000/151491383-60ef4e38-8b50-4e7c-996e-591d2cc25bad.png)

While creating a PR, add a preview picture to view the changes.
Happy contributing 🎊

[2022-01-28 06:16] varunwho commented on #8
@harshita214 Can I work on this?

[2022-01-28 07:32] Devmindtk commented on #6
I would like to work on this issue @harshita214  please assign it to me.

[2022-01-28 07:32] Devmindtk commented on #6
I would like to work on this issue @harshita214 please assign it to me.

[2022-01-28 07:34] Devmindtk commented on #3
I would like to work on this issue @harshita214 please assign it to me.

[2022-01-28 12:29] siddhantsingh-1 commented on #2
Okay I understand, I'm working on it

[2022-01-28 15:26] #2 closed

[2022-01-29 08:54] Sneha0324 commented on #3
I would like to work for it.

[2022-01-29 08:56] Sneha0324 commented on #4
I think I can do this. Please assign me this project.

[2022-01-31 18:30] Lavanyabisht11 commented on #8
I want to work on this issue under JWOC

[2022-01-31 18:30] ritika-saha commented on #4
I want to work on this issue under JWOC. Please assign this to me 😊

[2022-01-31 18:30] ritika-saha commented on #3
I want to work on this issue under JWOC. Please assign this to me 😊

[2022-01-31 18:30] rohit-raj25 commented on #3
I want to work on this issue under JWOC

[2022-01-31 18:31] thatsuman commented on #6
Hi,
I would like to work on this issue under JWOC

[2022-01-31 18:31] Lavanyabisht11 commented on #8
I want to work on this issue under JWOC

[2022-01-31 18:32] ayush-sleeping commented on #1
I want to work on this issue , Under JWOC22

[2022-01-31 19:20] stubborn-1508 commented on #3
i want to work on this issue.pls assign it to me.

[2022-01-31 20:02] raxvab commented on #3
I want to work on this issue under JWOC

[2022-01-31 20:03] raxvab commented on #6
I want to work on this issue under JWOC

[2022-01-31 21:23] Shreyan-12345 commented on #7
If i work,then can i rewrite the whole alarm clock code in background.js?

[2022-02-01 03:18] harshita214 commented on #6
Hi @thatsuman you can work on this issue, assigning it to you. All the best 👍

@raxvab @Devmindtk please work on other issues

[2022-02-01 03:19] harshita214 commented on #4
Hey, @ritika-saha assigning this issue to you. All the best 👍

@Sneha0324 please look for another issue

[2022-02-01 03:22] raxvab commented on #6
Thanks @harshita214

[2022-02-01 03:26] harshita214 commented on #3
Hey @rohit-raj25 , go ahead you can work on this issue. All the best 👍

@ritika-saha , I already assigned you #4
@raxvab @stubborn-1508 @Sneha0324 @Devmindtk please look for another issue

[2022-02-01 03:29] harshita214 commented on #8
hey, @Lavanyabisht11 assigning issue to you. All the best 👍

@varunwho Please look for another issue

[2022-02-01 03:32] harshita214 commented on #1
Hey @SaintJul @raxvab @ayush-sleeping, sure you can work. Firstly explain your idea which you want to implement so that I can assign you each accordingly.

[2022-02-01 03:34] manya0210 commented on #5
Hey!! I want to work on this issue under JWOC.

[2022-02-01 03:36] harshita214 commented on #5
Hey @manya0210, great! Assigning the issue to you. All the best 👍

[2022-02-01 04:02] varunwho commented on #7
@harshita214 Can I work on this issue under JWOC?

[2022-02-01 04:34] manya0210 commented on #5
Thanks ...will do my best :)

[2022-02-01 04:59] harshita214 opened #11 "feat : Make a Calculator Extension"
Make a simple calculator

- [ ] Create a folder and add all code
- [ ] Create a readme file for preview
- [ ] Attach a picture of the extension while creating a PR for preview

![image](https://user-images.githubusercontent.com/79797000/151914722-dec5b8af-41da-4649-bcd4-fd4c8da3299f.png)

Happy Contributing 🎊

[2022-02-01 05:03] harshita214 opened #12 "feat : Make a holiday extension"
Make an extension that will have all dates and days of holidays, Add a search option for holidays along with the option for national, regional, bank holidays. Make use of creativity and add new features on your own to add their usability! Happy contributing 🎊

[2022-02-01 05:15] harshita214 opened #13 "doc : Make a readme file"
Make a new readme file adding all the steps after creating an extension, how to view it on the browser. Show all steps like enabling developer mode then click on load unpacked etc. Also, add screenshots so that it's easily understandable. Happy Contributing 🎊

[2022-02-01 05:51] ayush-sleeping commented on #1
hey @harshita214 , I want to add a Extension  * Coronavirus Blocker " , Which will block all information related to corona virus .

[2022-02-01 05:53] yeshwanth235 commented on #13
I am interested, assign it to me pls...

[2022-02-01 05:59] harshita214 commented on #13
Sure @yeshwanth235 assigning it to you. Before you create a PR make a comment here showing the preview of the readme file. Happy Contributing 🎊

[2022-02-01 06:01] unnikrishnan2002 commented on #11
Can I try that for JWOC?

[2022-02-01 06:02] harshita214 commented on #1
Go ahead @ayush-sleeping, create a new issue explaining all features and idea. I will assign you

[2022-02-01 06:04] harshita214 commented on #11
Yes @unnikrishnan2002, Are you interested in building?

[2022-02-01 06:07] unnikrishnan2002 commented on #11
Yes I have previously made a calculator app . So I am interested in making an extension version of it 😄

[2022-02-01 06:08] ayush-sleeping opened #14 "feat : abusive word hider"
So basically , After enabling this extension , it will hide abusive words from every heading and paragraphs .

[2022-02-01 06:08] ayush-sleeping commented on #14
Hey @harshita214 , Kindly assign me this issue under JWOC'22

[2022-02-01 06:19] harshita214 commented on #11
Sure, Assigning it to you. All the best @unnikrishnan2002 👍

[2022-02-01 06:21] harshita214 commented on #14
Go ahead @ayush-sleeping , All the best @ayush-sleeping 👍

[2022-02-01 07:49] whiteHatpro commented on #1
I want to work on this issue under JWOC

[2022-02-01 08:23] raxvab commented on #1
Hello @harshita214  I want to make an extension where we have a list of FAANGM and a few more famous mnc's career pages link all at a same place.

[2022-02-01 08:37] saujanyaraj07 opened #15 "Chrome Extension: Chrome Ad Blocker"
I absolutely hate having to watch ads. Its my least favourite thing. That is why I want to create an Ad blocker extension.
An Ad blocker is a software that blocks network requests to and/or from advertising servers.
Using this chrome extension, Users get fast, sleek ad-blocking capabilities to enjoy sites like Chrome interruption free.
No more annoying pop-ups, accidental clicks on malware ads and

[2022-02-01 08:38] saujanyaraj07 commented on #15
@harshita214 Please assign me this issue under JWOC 2K22

[2022-02-01 09:02] harshita214 commented on #15
Go ahead and start contributing @saujanyaraj07, assigned to you! All the best 👍

[2022-02-01 09:05] harshita214 commented on #1
Hey @whiteHatpro sure, explain your idea/problem which you want to work on and build.

[2022-02-01 09:07] harshita214 commented on #1
Hey, @raxvab it is a good idea, can you dm me on discord so that we can discuss it more. I have some suggestions.

[2022-02-01 11:56] yeshwanth235 commented on #12
I am interested in this extension, can you pls assign it to me.

[2022-02-01 13:29] harshita214 commented on #13
Completed - #16

[2022-02-01 13:29] #13 closed

[2022-02-01 13:30] harshita214 commented on #12
Sure @yeshwanth235, Go ahead assigning it to you. All the best 👍
When you create PR make sure to add a screenshot for a preview

[2022-02-01 13:36] harshita214 commented on #7
Hy @Shreyan-12345 @varunwho, for this issue I am converting it to a new extension of the Timer Alarm Clock. So you have to build the timer extension which will have an input field for a time(minutes) along with two buttons of START, STOP. Along with a reset icon for changing time is entered in the input field. I am changing this to a new extension as the Alarm clock is already made. I am giving bo

[2022-02-01 19:00] whiteHatpro commented on #1
@harshita214 I want to make the chrome extension which when enabled can block all the destructive site to blocklist and help u stay focused.

[2022-02-01 19:02] whiteHatpro commented on #11
assign me this issue under JWoC

[2022-02-01 19:03] whiteHatpro commented on #11
I want to work on this issue under JWOC

[2022-02-01 19:04] whiteHatpro commented on #6
I want to work on this issue under JWOC

[2022-02-01 19:04] whiteHatpro commented on #15
I want to work on this issue under JWOC

[2022-02-02 02:29] #3 closed

[2022-02-02 02:34] harshita214 commented on #1
Hey @whiteHatpro, can you explain which sites will come under the destructive site category? Are u building this for children?

[2022-02-02 03:21] harshita214 opened #18 "feat : Night Mode extension"
White light often strains our eyes especially for developers, coders so why not make their lives easier by implementing night mode. Make an extension that enables night mode. Also, add an on and off button for night mode.

- [ ] Create a folder with all code
- [ ] Add readme with a preview picture of the extension
- [ ] Attach a picture of the extension while creating a PR

Create a PR 🥳
Happy con

[2022-02-02 05:23] RajulPE commented on #18
Hi @harshita214, I am interested in working on this under JWOC.

[2022-02-02 05:35] harshita214 commented on #18
Sure @RajulPE, Go ahead and start building 🚀 All the best 👍

[2022-02-02 06:25] whiteHatpro commented on #1
@harshita214 people can add the sites acc to their willingness.

No not particularly for children any age group can use it

[2022-02-02 09:01] mahimk9 opened #19 "feat : Prank Your Friend Extension"
I want to work on this issue under JWOC.
Description : "Prank Your Friend" is an chrome extension to prank a friend. One can add this extension to friend's PC, and enable it.
Once enabled, the text and images present on the website, would change to something funny/anonymous. For ex. Text might change to lorem ipsum, and image to any random images on internet.

[2022-02-02 09:14] harshita214 commented on #19
Sure @mahimk9 assigning you the issue. All the best 👍

[2022-02-02 09:22] mahimk9 commented on #19
Thankyou.

[2022-02-02 09:32] DarkFalc0n commented on #7
I want to work on this issue under JWOC

[2022-02-02 09:44] harshita214 commented on #7
Sure @DarkFalc0n, Go ahead assigning it to you. All the best 👍
When you create PR make sure to add a screenshot for a preview

[2022-02-02 09:45] trunmhrshi opened #20 "Extension: Quote"
Sometimes everyone is frustrated while doing work. This will create an inspirational Quote.

[2022-02-02 09:47] trunmhrshi commented on #20
Hey, @harshita214 I want to work on this issue.

[2022-02-02 12:35] unnikrishnan2002 commented on #11
@harshita214 I would like to unassign myself from this issue as I can't populate react apps to extensions. You can assign the next person

[2022-02-02 13:00] harshita214 commented on #20
Hey, So will it give a new quote every time?

[2022-02-02 13:02] harshita214 commented on #18
Completed - #21

[2022-02-02 13:02] #18 closed

[2022-02-02 13:04] harshita214 commented on #11
Hey @whiteHatpro assigning you the issue. All the best 👍

[2022-02-02 13:07] trunmhrshi commented on #20
Yes, every time we click on the extension it will give a new quote.

[2022-02-02 13:15] harshita214 commented on #20
So for that purpose are u thinking of implementing API or writing manually some quotes or something else, can you explain this. Also, are u adding a button to give new quotes every time its clicked

[2022-02-02 14:46] trunmhrshi commented on #20
Yes, I will use API to fetch quotes. I will add a button to get new quotes every time.

[2022-02-02 15:10] harshita214 commented on #20
Great, okay then you can go ahead and start building 🚀
All the best @trunmhrshi 👍

[2022-02-03 02:19] #6 closed

[2022-02-03 03:36] harshita214 commented on #4
Completed - #22

[2022-02-03 03:36] #4 closed

[2022-02-03 06:38] harshita214 commented on #20
Completed - #24

[2022-02-03 06:38] #20 closed

[2022-02-03 08:14] #11 closed

[2022-02-03 09:20] whiteHatpro commented on #5
Hey!! I want to work on this issue under JWOC.

[2022-02-03 15:06] harshita214 commented on #15
Completed - #27

[2022-02-03 15:06] #15 closed

[2022-02-03 15:47] harshita214 opened #28 "feat : Build a TIC TAC TOE game extension"
One of the most popular games we all have played, build its extension and then play it using extension

- [ ] Add all codes in one folder
- [ ] Add preview picture of working extension

Submit a PR 🚀
Happy contributions 🎊

[2022-02-03 15:47] harshita214 opened #29 "feat : Random Jokes Extension"
Create an extension for generating random jokes and making users laugh.

- [ ] Generates random joke every time
- [ ] Add all code in a folder
- [ ] Create a readme file for preview of extension

Happy contributing 🎊

[2022-02-03 15:47] harshita214 opened #30 "feat : Screenshot and Screen Recording Extension"
While we are working there are times when we urgently need to take a screenshot or record our screen, so for that times build a extension which will enable user to take screen shot and do screen recording as well! Add feature of resizing the screenshot

- [ ] Screen Shot feature
- [ ] Screen Recording feature
- [ ] Resizing of Screen Shot
- [ ] All code in one file
- [ ] While creating PR add prev

[2022-02-03 15:54] harshita214 commented on #29
Hey @Aman-Mandal sure, to get started look at the pinned messages on discord I have provided some resources to get started. You can check them out. If you have any further doubt just ping me on discord

[2022-02-03 16:04] mrunal736 commented on #29
I would like to work on this issue under JWOC

[2022-02-03 16:15] saujanyaraj07 commented on #28
@harshita214 Kindly assign me this issue under JWOC'22.

[2022-02-03 16:43] whiteHatpro commented on #29
I would like to work on this issue under JWOC

[2022-02-03 16:45] whiteHatpro commented on #28
I would like to work on this issue under JWOC

[2022-02-03 16:52] harshita214 commented on #29
Sure @mrunal736 assigning you the issue!
All the best 👍

@whiteHatpro kindly look for another issue

[2022-02-03 16:54] harshita214 commented on #28
Okay, @saujanyaraj07 👍 assigning you the issue
All the best!

@whiteHatpro kindly look for another issue

[2022-02-03 16:57] harshita214 commented on #1
Okay I see, so that means you will be providing an input option to add websites which the user wants to block and then it will be blocked right?

[2022-02-03 16:59] whiteHatpro commented on #1
yess

[2022-02-03 17:03] harshita214 commented on #1
Okay then @whiteHatpro you can go ahead with this. Create an Issue explaining your idea and features. I will assign you 👍

[2022-02-03 17:11] KMJ-007 commented on #30
I would like to work on this issue under jwoc, can you assign it to me :)

[2022-02-03 17:29] harshita214 commented on #30
Great @KMJ-007 assigning to you!
All the best 👍

[2022-02-03 17:40] saujanyaraj07 commented on #28
@harshita214 Thankyou!

[2022-02-04 02:38] 03amir commented on #5
I want to work on this issue under JWOC

[2022-02-04 16:59] mrunal736 commented on #29
I've completed the code , is it okay if I make pull request tomorrow?

[2022-02-05 08:29] DarkFalc0n commented on #8
I want to work on this issue under JWOC

[2022-02-05 08:39] harshita214 commented on #8
Okay, @DarkFalc0n assigning you. All the best 👍

[2022-02-05 15:29] harshita214 commented on #14
Completed - #32

[2022-02-05 15:29] #14 closed

[2022-02-05 15:29] harshita214 commented on #7
Completed - #31

[2022-02-05 15:29] #7 closed

[2022-02-05 15:30] harshita214 commented on #29
@mrunal736 update

[2022-02-05 15:30] harshita214 commented on #28
@saujanyaraj07 update

[2022-02-05 15:31] harshita214 commented on #5
@manya0210 due to your unavailability unassigning you

[2022-02-05 15:35] harshita214 commented on #5
@03amir assigning you. All the best 👍
You have 3 days to complete this

@whiteHatpro since you are already working on creating an extension

[2022-02-05 16:50] saujanyaraj07 commented on #28
@harshita214 will create a pr tomorrow👍 Am almost done

[2022-02-05 17:26] whiteHatpro commented on #5
@harshita214  no issues!!

[2022-02-06 06:01] ayush-sleeping opened #36 "Readme Update :"
Add labels ,
Add Table of content ,
Add Open Source programs this repo has been part of ,
Add Project Mentor ,
Add ( back to top ) and ( bottom ) links ,
Make a table for Extension which are available in this repo. ,
Also - All things categorize it, In a systematic way ......

<br>

I want to work on this issue , under JWOC'22

[2022-02-06 06:02] ayush-sleeping commented on #36
hey @harshita214 , I want to work on this issue under JWOC'22 .
and want to make the readme of this amazing repo. more powerful.

[2022-02-06 08:42] mnnkhndlwl opened #37 "feat : word of the day extension"
I want to work on this issue under JWOC.
Description : whenever user clicks on this extension user will see a random word and its meaning

[2022-02-06 08:43] mnnkhndlwl commented on #37
I want to work on this issue under JWOC.
Description : whenever user clicks on this extension user will see a random word and its meaning

[2022-02-06 13:14] harshita214 commented on #8
Completed - #35

[2022-02-06 13:14] #8 closed

[2022-02-06 13:14] harshita214 commented on #19
Completed - #34

[2022-02-06 13:14] #19 closed

[2022-02-06 13:15] harshita214 commented on #29
@mrunal736 I have reviewed your PR, complete it by adding Button feature so that I can merge it

[2022-02-06 13:17] harshita214 commented on #12
@yeshwanth235 any updates

[2022-02-06 13:21] harshita214 commented on #37
Sure @mnnkhndlwl it's a nice idea you can go-ahead
Assigning you, All the best 👍

[2022-02-06 13:35] ayush-sleeping opened #39 "feat : Coding Profile Launcher"
It is basically an extension where you can launch your all coding proflies of different websites.

<br>

hey @harshita214 , Kindly assign me this issue under JWOC'22 , In present I am working on this issue ...............

[2022-02-06 13:44] mrunal736 commented on #29
I'll try to add button feature, is it okay if I make it till tomorrow night.

[2022-02-07 03:07] harshita214 commented on #29
Okay @mrunal736 , but do it positively

[2022-02-07 07:04] harshita214 commented on #36
Sure go ahead @ayush-sleeping
You will be responsible for maintaining till the JWOC contribution period ends.
Also ,the Jwoc scoreboard table is already created but it needs to be updated regularly, you can contact me in case of any doubt

[2022-02-07 07:16] harshita214 opened #41 "feat : Simple Interest calculator extension"
Add a simple interest calculator that will take input for PI, Rate, and Time (in years, months) and generate Simple interest by calculating it.

- [ ] Input field for PI, Rate, and Time (in years, months)
- [ ] Output field for Simple Interest
- [ ] Button for Calculate
- [ ] Button for Clear
- [ ] A good UI
- [ ] All codes in one folder

Happy contributions 🎊

[2022-02-07 13:19] harshita214 opened #43 "feat : Compound Interest calculator"
Add a compound interest calculator that will take input and generate compound interest by calculating it.

- [ ] Input field for Principal amount, Rate, Time (in years), Total amount
- [ ] Output field
- [ ] Button for Calculate
- [ ] Button for Clear
- [ ] A good UI
- [ ] All codes in one folder

Happy contributions 🎊

[2022-02-07 13:31] harshita214 commented on #41
Sure @Aniket-508 assigning you!
All the best 👍

[2022-02-07 13:31] harshita214 commented on #37
Completed - #40

[2022-02-07 13:31] #37 closed

[2022-02-07 13:32] harshita214 commented on #30
@KMJ-007 update? Kindly create a PR for same

[2022-02-07 13:34] KMJ-007 commented on #30
I am still working on it, if you want to assign it to other, no problem but it is my first time building chrome extension so it is taking more time :)

[2022-02-07 13:37] harshita214 commented on #30
No, if you are working then go ahead you are being assigned this issue. It's alright you still have tomorrow try to complete it by tomorrow

[2022-02-07 18:42] Devmindtk commented on #12
I would like to work on this issue. could you please explain me which api and tech stack should used here ?

[2022-02-08 02:22] harshita214 opened #44 "feat : create a TO-DO extension"
Create a extension for the TO-DO list, where users can add multiple tasks and view them, also can delete them

[2022-02-08 02:31] harshita214 commented on #29
Completed - #33

[2022-02-08 02:31] #29 closed

[2022-02-08 07:01] whiteHatpro commented on #44
I would like to work on this issue under JWoC

[2022-02-08 11:14] harshita214 commented on #44
sure @whiteHatpro assigning you
All the best 👍

[2022-02-08 18:05] 03amir commented on #43
i want to work on this issue under jwoc

[2022-02-09 03:50] harshita214 commented on #43
Sure @03amir assigning you, All the best 👍

[2022-02-09 03:52] harshita214 commented on #12
Sure @Devmindtk , HTML CSS JavaScript Chrome API apart from it you can also use any API for fetching calendar/holidays but its totally up to you. If you have more doubts then just ping me :)

[2022-02-09 04:39] harshita214 commented on #39
@ayush-sleeping assigned
All the best 👍

[2022-02-09 14:29] harshita214 commented on #5
Completed - #46

[2022-02-09 14:29] #5 closed

[2022-02-09 14:40] harshita214 opened #51 "feat : Hex code color picker extension"
Make a color code picker extension which will give hex code of color when picker/arrow/pointer will point

[2022-02-09 14:46] harshita214 opened #52 "feat : meaning of word extension"
Make a simple extension that will give the meaning of the word when clicked on search.

[2022-02-10 08:33] harshita214 commented on #39
Completed - #49

[2022-02-10 08:33] #39 closed

[2022-02-10 08:35] harshita214 commented on #41
Completed - #48

[2022-02-10 08:35] #41 closed

[2022-02-10 16:15] mnnkhndlwl opened #53 "feat : Music Player extension"
while browsing internet user can play/pause music

[2022-02-10 16:15] mnnkhndlwl commented on #53
i want to work on this issue under JWOC

[2022-02-10 20:52] whiteHatpro commented on #51
I want to work on this issue under JWoC

[2022-02-11 02:38] harshita214 commented on #51
Sure @whiteHatpro ,All the best 👍

[2022-02-11 02:45] harshita214 commented on #53
Can you explain the extension more briefly

[2022-02-11 03:59] mnnkhndlwl commented on #53
while using browser internet if user want to listen to music then user can listen to music by clicking on this extension and choose track to play

[2022-02-11 04:08] harshita214 commented on #53
I see, so how many tracks are there are u using any music app api or something

[2022-02-11 04:14] mnnkhndlwl commented on #53
I am not using any api it will simply play songs stored in a particular folder

[2022-02-11 08:03] ayush-sleeping commented on #51
Hey Mohak , If you need any help in making this extension, Let me know on discord , <br>
<br>

( Actually , I forget to comment on this issue , That I want to work on this issue 2 days ago , And I have started to making it and the extension is ready today , Yaa I know its my mistake , But if you want any help , you can contact me on discord .  )

[2022-02-11 08:19] whiteHatpro commented on #51
@ayush-sleeping sure man!!

[2022-02-11 09:34] Devmindtk commented on #12
please assign this issue to me @harshita214

[2022-02-11 10:07] mnnkhndlwl opened #56 "feat : A gif extension"
Using this extension user can search a gif and on clicking on that particular gif the gif will be downloaded in the user's device

[2022-02-11 10:07] mnnkhndlwl commented on #56
I want to work on this issue under jwoc

[2022-02-11 10:41] harshita214 commented on #12
Sure @Devmindtk , All the best 👍

[2022-02-11 10:43] harshita214 commented on #53
I see so how many tracks are u adding and there is a search option also?

[2022-02-11 11:08] harshita214 commented on #53
Okay, I am assigning you this issue
All the best 👍

[2022-02-11 11:12] harshita214 commented on #52
Sure @Devmindtk , All the best 👍

[2022-02-11 11:13] harshita214 commented on #30
@KMJ-007 ?

[2022-02-11 13:50] ronitblenz opened #57 "feat: wordle solver extension"
Hey, please assign me to this issue

[2022-02-11 18:59] whiteHatpro opened #59 "feat: tumbler tags"
View all tags on a Tumblr post without clicking “see all”

[2022-02-11 18:59] whiteHatpro commented on #59
@harshita214 please assign this issue to me

[2022-02-12 06:45] Srijita-Mandal opened #60 "Feat: Weather app extension"
I want to work on this under JWOC

[2022-02-12 07:07] harshita214 commented on #60
Can you explain more, what it will be its features, how will you be showing this, are u using any API to display current weather forecast, can different locations weather can be viewed from this extension

[2022-02-12 07:07] harshita214 commented on #57
Sure but firstly kindly explain the extension in brief, its working and its features also

[2022-02-12 07:12] harshita214 commented on #59
Sure , can you explain this issue more briefly with its working

[2022-02-12 07:16] whiteHatpro commented on #59
This is a Chrome Extension that lets you browse your Tumblr - Dashboard in a style similar to Pinterest which means you have multiple columns of posts that are nicely aligned, so more information fits on your screen. You can customize the look of your dashboard through the settings of the extension

[2022-02-12 07:41] Srijita-Mandal commented on #60
Yah.. It takes the current location of the user and displays the weather of that area in a popup. I'll use Open weather map API for this.

[2022-02-12 10:55] harshita214 commented on #60
Sure go ahead assigning you
All the best

[2022-02-12 11:15] harshita214 commented on #53
Completed - #58

[2022-02-12 11:32] ronitblenz commented on #57
@harshita214 It is not an Easy issue, plz upgrade it to Hard, it will take time to build this

[2022-02-12 12:07] harshita214 commented on #59
You can take 2 days, its alright 👍

[2022-02-12 12:08] harshita214 commented on #57
I see, I can assign you medium level

[2022-02-12 15:03] mnnkhndlwl opened #63 "feat : URL shortener Extension"
i want to work on this issue under jwoc

[2022-02-12 16:51] harshita214 commented on #56
Completed - #62

[2022-02-12 16:51] #56 closed

[2022-02-12 21:08] r3yc0n1c commented on #43
I want to work on this issue under JWOC

[2022-02-13 04:07] harshita214 commented on #51
Completed - #61

[2022-02-13 04:07] #51 closed

[2022-02-13 07:03] whiteHatpro commented on #30
I want to work on this issue under JWoC

[2022-02-13 07:03] whiteHatpro commented on #63
i want to work on this issue under jwoc

[2022-02-13 08:19] harshita214 commented on #30
Sure @whiteHatpro, Assigned 👍
All the best

[2022-02-13 08:29] harshita214 commented on #63
@mnnkhndlwl Assigned 🚀
All the best 👍

@whiteHatpro you can look at other issues

[2022-02-13 15:01] ayush-sleeping opened #66 "feat : Memory Game Extension ."
In this Game ,
You are given a set of cards containing images which are turned to the back,
when you click on an image, it flips over and reveals the image.
If you click on two images that are exactly the same, that is a win for you .

<br>

#

Hey @harshita214 , I want to work on this issue under JWOC'22 .
Thanks .

[2022-02-13 17:22] harshita214 commented on #66
I see, can you tell what will be the no of grids available in this extension. Also what will happen if two similar cards will come, will after that new grid will be shown?

[2022-02-14 03:10] ayush-sleeping commented on #66
There will be 4 x 4 no. of grids and when you will get 2 similar cards it will stay open ,
and you have try to guess others also , if you get all cards then game is over and it will your points ,
And score depends on , how much chance you will take to complete the game .

[2022-02-14 04:05] harshita214 commented on #66
Okay sure, you can go ahead and start building this extension
All the best 👍

[2022-02-14 06:33] harshita214 commented on #60
Completed - #69

[2022-02-14 06:33] #60 closed

[2022-02-14 06:38] wasimreja commented on #52
@harshita214 I would like to work on this issue under JWoC.

[2022-02-14 06:44] harshita214 commented on #28
Completed - #47

[2022-02-14 06:44] #28 closed

[2022-02-14 06:45] harshita214 commented on #52
@Devmindtk update?

[2022-02-14 06:46] harshita214 commented on #12
@Devmindtk update?

[2022-02-14 07:02] Devmindtk commented on #52
Yeah  just give me a hour .
almost completed

[2022-02-14 13:51] ronitblenz commented on #57
Plz check and merge my PR

[2022-02-14 15:57] harshita214 commented on #63
Completed - #67

[2022-02-14 15:58] harshita214 commented on #52
Sure make a PR 🚀

[2022-02-15 05:51] r3yc0n1c opened #71 "feat: password generator"
This extension will generate a strong random password of variable length (given by the user)

Hi @harshita214, I would like to contribute to this issue under JWOC'22.
Thanks.

[2022-02-15 08:28] wasimreja commented on #52
Is it not done yet?

[2022-02-15 10:17] Devmindtk commented on #52
check is it fine after that i will create PR
![Screenshot (500)](https://user-images.githubusercontent.com/91221069/154041425-a1e9da89-753b-4681-ab39-882d155dc836.png)

[2022-02-15 15:19] harshita214 commented on #71
Will it save also the password?

[2022-02-15 16:07] mnnkhndlwl opened #74 "feat : rgb to hex / hex to rgb converter"
in this extension user can simply input any rgb value or hex value or at moment user input that value this extension will automatically
convert to corresponding hex / rgb value user don't need to press any button to convert values

[2022-02-15 18:17] r3yc0n1c commented on #71
for now, it'll just create random passwords of variable length but I can update that to store the password  later

[2022-02-16 12:13] harshita214 commented on #74
Okay are u adding all the options as shown below

![image](https://user-images.githubusercontent.com/79797000/154262235-5e3398d3-51df-4adc-a755-d73a87b1d522.png)

You can also consider as an example

[2022-02-16 12:16] harshita214 commented on #30
Completed - #70

[2022-02-16 12:16] #30 closed

[2022-02-16 12:42] harshita214 opened #76 "feat : font and text size changer"
Make an extension that can change the font style. Add different font styles which can be changed. Also, add an option for increasing and decreasing text size.

- [ ] Different Fonts can be enabled
- [ ] Increase text size option
- [ ] Decrease text size option
- [ ] All codes in one folder
- [ ] Add readme file with preview picture and video of extension implementation

All the best 👍

[2022-02-16 13:02] mnnkhndlwl commented on #74
it's not going to have reset or swap button

[2022-02-16 13:23] harshita214 commented on #74
Then how will user convert it or reset the values?

[2022-02-16 13:37] mnnkhndlwl commented on #74
As soon as user enter a valid input it will automatically generate the corresponding value
and if user wants to enter any other value user can simply use backspace key
it's simple

[2022-02-16 14:45] harshita214 commented on #12
@Devmindtk?

[2022-02-16 14:48] whiteHatpro commented on #76
I want to work on this issue under JWoC

[2022-02-16 14:49] harshita214 commented on #76
Sure @whiteHatpro All the best 👍

[2022-02-16 15:31] r3yc0n1c commented on #71
yes

[2022-02-16 17:13] Devmindtk commented on #12
done by tomorrow

[2022-02-17 02:16] harshita214 commented on #74
Okay but what about the converter how will the user do that since there is no swap button

[2022-02-17 02:21] #52 closed

[2022-02-17 04:23] mnnkhndlwl commented on #74
just assign me this issue when this  extension will be completed you will see that there is no need of swap button

[2022-02-17 11:40] harshita214 commented on #74
Okay

[2022-02-17 11:41] harshita214 commented on #71
Okay are u able to complete this in 1-2 days?

[2022-02-17 13:16] r3yc0n1c commented on #71
I need 2-3 days to code and add a good UI

[2022-02-17 15:30] #59 closed

[2022-02-17 16:58] whiteHatpro opened #79 "feat: customized site blocker"
If you’ve blocked an app or a website you can unlock it with a passcode of your choosing, making it that bit harder to procrastinate. You can also password protect the options page to keep you from easily removing sites from your list.
timer to schedule the site blocking and much more

[2022-02-17 16:58] whiteHatpro commented on #79
I want to work on this issue under JWoC

[2022-02-17 17:00] harshita214 commented on #12
@Devmindtk ??

[2022-02-17 17:05] harshita214 commented on #79
Okay, Sure assigning you 🚀
All the best 👍

[2022-02-18 03:24] r3yc0n1c commented on #12
Is this issue up for grab? I would like to work on this issue under JWOC'22

[2022-02-18 13:09] harshita214 commented on #12
There is no API, you have to implement it actually since I don't think there is an API for the same

[2022-02-18 13:20] harshita214 commented on #76
Completed - #80

[2022-02-18 13:20] #76 closed

[2022-02-18 13:21] harshita214 commented on #43
Completed - #54

[2022-02-18 13:21] #43 closed

[2022-02-18 13:23] harshita214 commented on #71
Can you brief the issue and its features
Like user can add a number then the password will be generated?
Is there any other features etc.

[2022-02-19 04:53] #66 closed

[2022-02-19 04:54] harshita214 commented on #71
Okay

[2022-02-19 05:33] ayush-sleeping opened #81 "feat : BMI Calculator ."
So , what is BMI Calculator :

Body mass index (BMI) is a measure of body fat based on height and weight that applies to adult men and women.
Body Mass Index calculator gives out the BMI value and categorizes BMI based on provided information .

here what I will make ,
In the first box it will ask your weight and in the second box it will ask your height , and then you have press the button ( calc

[2022-02-19 06:18] #74 closed

[2022-02-19 09:50] DarkFalc0n opened #82 "feat: Dark Mode palette generator"
Dark mode is now a very trendy design style owing to the growth of AMOLED display and how good dark UI look in them. However, designers lack a handy color palette generator that can generate dark mode on the fly. The dark mode palette generator will address this issue by generating custom dark color palettes for UI designers.
It will feature a slider like this:
![image](https://user-images.githubu

[2022-02-20 02:20] harshita214 commented on #81
Sure @ayush-sleeping

[2022-02-20 02:21] harshita214 commented on #12
@r3yc0n1c assigning you, All the best 👍

[2022-02-20 02:24] harshita214 commented on #82
Okay so from the slider user will choose a single color and based on that a palette of colors will be displayed , How many colors will be displayed?

[2022-02-20 08:56] whiteHatpro opened #84 "feat: safety badge"
Adding badgers next to each organic result in the search feed for you to check the website safety without the hassle.

[2022-02-20 08:57] whiteHatpro commented on #84
@harshita214 i want to work on this issue under JWoC

[2022-02-20 08:58] whiteHatpro opened #85 "feat: Snippet Highlighter"
Highlighter tool to annotate websites and PDF, import Kindle highlights, and more.
Get all your highlights in one place, instantly searchable, available wherever you go

[2022-02-20 08:59] whiteHatpro commented on #85
@harshita214 i want to work on this issue under JWoC

[2022-02-20 13:02] DarkFalc0n commented on #82
As per International standards of business and formal Web/App design conventions, these are the basic colors in any Color palette:

[code]
All these will be available in the extension

[2022-02-20 13:43] harshita214 commented on #82
Sure @DarkFalc0n assigning you
All the best 👍

[2022-02-20 13:44] harshita214 commented on #84
All the best 👍

[2022-02-21 09:13] harshita214 commented on #85
Sure, assigning you
All the best 👍

[2022-02-21 14:11] mnnkhndlwl opened #87 "feat : random gradient generator"

[2022-02-21 14:12] mnnkhndlwl commented on #87
i want to work on this issue under jwoc

[2022-02-21 14:13] mnnkhndlwl commented on #87
this extension is gonna have a generate button which will generate any random gradient on click for user
and user can copy that and use it in projects
it will show the preview of generated gradient

[2022-02-22 11:19] harshita214 commented on #81
Update @ayush-sleeping

[2022-02-22 11:20] harshita214 commented on #57
@ronitblenz ??

[2022-02-22 11:20] harshita214 commented on #71
@r3yc0n1c update?

[2022-02-22 11:32] ayush-sleeping commented on #81
Yaaa , It's completed .... Going to add now

[2022-02-22 11:44] ronitblenz commented on #57
I am actually out of station for now,  You can check if its working. I am replying from my phone. Its completely on you, if you want to take it or reject it. I am sorry that I couldnt help

[2022-02-22 13:06] harshita214 opened #90 "feat : 2022 Calender"
Build a calendar for 2022

[2022-02-22 13:06] harshita214 opened #91 "feat : Contrast Colors extension"
In this extension, the user will have 4 options for changing contrast

- [ ] 1.  Invert colors
- [ ] 2.  Dark contrast
- [ ] 3.  Desaturate
- [ ] 4.  Light contrast
- [ ] All codes in one folder
- [ ] A nice UI

All the best 🎊

[2022-02-22 13:06] harshita214 opened #92 "feat : Quadratic Equation"
User will enter coefficients of a,b and c. After that discriminant and roots will be displayed.

- [ ] Take input a,b,c
- [ ] Give output as discriminant and roots
- [ ] All codes in one folder
- [ ] A nice UI

All the best 🎊

[2022-02-22 13:15] whiteHatpro commented on #91
@harshita214 do you want these setting to be applied to whole page or some part as selected?

[2022-02-22 13:15] whiteHatpro commented on #90
I want to work on this issue under JWoC

[2022-02-22 13:16] harshita214 commented on #91
Whole web page

[2022-02-22 13:18] whiteHatpro commented on #91
okay

[2022-02-22 13:23] saujanyaraj07 commented on #92
@harshita214 Pl assign me this issue under JWOC'22.

[2022-02-22 13:24] harshita214 commented on #91
Sure @whiteHatpro
Assigning you
All the best 👍

[2022-02-22 13:24] harshita214 commented on #92
Sure @saujanyaraj07
Assigned ,All the best 👍

[2022-02-22 13:26] harshita214 commented on #81
Completed - #89

[2022-02-22 13:26] #81 closed

[2022-02-22 13:31] harshita214 commented on #79
Completed - #83

[2022-02-22 13:31] #79 closed

[2022-02-22 13:32] harshita214 commented on #87
So you will be giving the option for angle, adding no of colors?

[2022-02-22 15:34] r3yc0n1c commented on #71
yep... just removed the commented lines and was working on the UI... can you review the PR now?

[2022-02-22 16:41] harshita214 commented on #84
Completed - #88

[2022-02-22 16:41] #84 closed

[2022-02-22 16:45] harshita214 commented on #12
@r3yc0n1c update?

[2022-02-22 16:46] harshita214 commented on #57
I see, so for how period are you not available?

[2022-02-22 16:53] harshita214 commented on #90
Sure @whiteHatpro

[2022-02-23 09:15] harshita214 commented on #71
Completed - #93

[2022-02-23 09:15] #71 closed

[2022-02-24 03:55] harshita214 commented on #85
Completed - #94

[2022-02-24 03:55] #85 closed

[2022-02-24 14:48] mnnkhndlwl commented on #87
@harshita214  ???

[2022-02-25 03:06] harshita214 commented on #92
Completed - #96

[2022-02-25 03:06] #92 closed

[2022-02-25 03:08] harshita214 commented on #90
Completed - #95

[2022-02-25 03:08] #90 closed

[2022-02-25 03:11] harshita214 commented on #87
I see okay okay , so there are two options only then right?

[2022-02-25 03:59] r3yc0n1c opened #98 "feat: timezone converter extension"
A google chrome extension to compare and convert time to all the major time zones across the world.

Features:
- [ ] converts time instantly
- [ ] supports major time zones

will add more features in the future...

[2022-02-25 03:59] r3yc0n1c commented on #98
Hey @harshita214, I want to work on this issue under JWoC'22

[2022-02-25 08:19] ishika1501 commented on #36
sir i would like to take this .

[2022-02-25 11:13] ayush-sleeping commented on #36
I am already working on this issue @ishika1501 ,  take a look on other issues .

[2022-02-25 12:46] ishika1501 commented on #36
@ayush-sleeping  sure no issue

[2022-02-25 15:31] harshita214 opened #100 "feat : Leetcode daily challenge reminder!"
For developers and coders who wish to be consistent by solving the daily question of leetcode make an extension that will remind them to solve the question of the day and remind them until it's not solved!

- [ ] Remind each day with the question to be solved
- [ ] Link to the question
- [ ] All codes in one folder
- [ ] A good UI
- [ ] Readme file with video of extension implementation

Happy con

[2022-02-25 15:48] harshita214 opened #101 "feat : clone of Panic button extension"
Hide all your tabs at once with one single button and restore them later.
HMA Panic Button - Hide all your tabs at once with one single button and restore them later.

Build an extension "Panic Button" inspired from [this](https://chrome.google.com/webstore/detail/panic-button/faminaibgiklngmfpfbhmokfmnglamcm)

Ps: Add your own idea to improvise this and in the process make a good UI

Happy contri

[2022-02-25 16:00] harshita214 commented on #57
@ronitblenz ?

[2022-02-25 16:01] ronitblenz commented on #57
Merge it if you feel like ...
No compulsion

[2022-02-25 16:16] whiteHatpro commented on #101
i want to work on this issue under JWoC

[2022-02-25 16:17] whiteHatpro commented on #100
I want to work on this issue under JWoC

[2022-02-25 16:21] whiteHatpro opened #103 "Feat: Flashcards from PDFs and Notion"
Write notes in Notion and easily turn them into flashcards
flashcards reminds you when it's time to review the cards you want to remember so that you never forget them again

[2022-02-25 16:21] whiteHatpro commented on #103
I want to work on this issue under JWoC

[2022-02-25 16:47] abhilipsasahoo03 opened #104 "feat: COVID-19 live statistics chrome extension"
A worldwide COVID-19 real-time statistics that provides map of affected countries, sum of population affected, graphs showing the number of currently infected, recovered and death cases under "Daily cases".

[2022-02-25 17:01] harshita214 commented on #104
Sure @abhilipsasahoo03

[2022-02-25 17:09] harshita214 commented on #104
Completed - #99
Thanks for contributing 💙

[2022-02-25 17:09] #104 closed

[2022-02-25 17:13] harshita214 commented on #87
Completed - #102

[2022-02-25 17:13] #87 closed

[2022-02-25 17:14] harshita214 commented on #100
Sure @whiteHatpro assigning you
All the best 👍

[2022-02-25 17:17] harshita214 commented on #103
Sure @whiteHatpro
All the best 👍

[2022-02-25 18:01] r3yc0n1c commented on #98
yes, it will convert the current time to any timezone and they can enter the time manually also to convert it from a specific timezone to other

[2022-02-25 18:26] Pragatii08 commented on #103
@whiteHatpro could you explain more about the issue so that I can contribute.

[2022-02-26 14:31] harshita214 commented on #82
Completed - #97

[2022-02-26 14:31] #82 closed

[2022-02-26 14:32] harshita214 commented on #98
Sure assigning you
All the best 👍

[2022-02-28 03:40] kalashvasaniya commented on #1
Hey, I want to work on this issue can you please aassign me?

[2022-02-28 03:44] kalashvasaniya commented on #36
Hey,I want to work on this issue can you please aassign me?

[2022-02-28 05:36] ManaliPawar commented on #1
Please can you assign me this issue? I want to work on it

[2022-02-28 05:54] harshita214 commented on #91
Completed - #108

[2022-02-28 05:54] #91 closed

[2022-02-28 05:55] harshita214 commented on #98
Update ??

[2022-02-28 06:00] harshita214 commented on #1
@kalashvasaniya @ManaliPawar kindly explain the extension which you want to build briefly

[2022-02-28 06:00] harshita214 commented on #1
@kalashvasaniya @ManaliPawar kindly explain the extension which you want to build briefly

[2022-02-28 06:10] kalashvasaniya commented on #1
So I have idea I Will make number counter extension.
Working - In which we can count number, Reset, save etc.
eg-
<img width="209" alt="Screenshot 2022-02-28 at 11 39 41 AM" src="https://user-images.githubusercontent.com/88212870/155933068-944def1f-6b56-40b3-baec-dd66ae947993.png">

[2022-02-28 06:11] ManaliPawar commented on #1
I want to add an ad Blocker extension

[2022-02-28 06:12] ManaliPawar commented on #1
in this we can block particular sites

[2022-02-28 06:28] r3yc0n1c commented on #98
working on it...
- [x] done with fetching the data
- [ ] working on UI

[2022-02-28 08:42] whiteHatpro commented on #57
@harshita214 I want to work on this issue under JWoC

[2022-02-28 14:35] harshita214 commented on #1
@kalashvasaniya What is the purpose it can solve , also is there any other features of this extension kindly brief them also.

[2022-02-28 14:39] harshita214 commented on #1
@ManaliPawar ad blocker and site blocker extension is already present

[2022-02-28 14:46] ManaliPawar commented on #1
i am so sorry, then i can build a todolist extension wherein a popout of todolist will appear once we click the extension, then we can write in and cut in things there itself.

[2022-02-28 15:55] kalashvasaniya commented on #12
Please assign this issue to me.!

[2022-02-28 16:07] harshita214 commented on #101
Completed - #109

[2022-02-28 16:07] #101 closed

[2022-02-28 16:10] harshita214 commented on #1
@ManaliPawar todo-list extension is also present

[2022-02-28 16:39] ManaliPawar commented on #1
then a web scraper?

[2022-02-28 17:16] kalashvasaniya commented on #12
Thank you for assigned me!

[2022-02-28 18:00] adi2002vicky commented on #1
Hey, there!
I would like to add new extension QR-Generator can you please assign me?
discription:- Paste anything to generate a QR code for it
ThankYou!

[2022-02-28 18:01] adi2002vicky commented on #1
pls check PR

[2022-03-01 05:17] akrati-max commented on #1
hey.I am Akrati  GSSOC'22.
I can add LINER extension for fast searching and highlighting.
Can you assign me this?

[2022-03-01 08:03] VagishaGupta9 opened #112 "Shark tank memes extension"

[2022-03-01 08:16] VagishaGupta9 commented on #112
/assign

[2022-03-01 08:36] MeetaHaldar opened #113 "Want to add programming meme extension"
dear @harshita214
 I want to add new chrome extension which will provide you fresh meme on each click at extension .

if you give me issue o work with that I  will be happy to work with it
 Thankyou ,
Meeta haldar,
GSSOC 2022 contributor

[2022-03-01 12:31] IKRA786 opened #114 "fix:UI enhancement"
As a GSSOC'22 Contributor, I  would like to work on making the UI of the BMI Calculator more interactive.
Please assign this to me.

[2022-03-01 13:16] SHRIYA1706 opened #115 "Theme based site blocker"
Be it a idea or a chrome extension, creativity is a must! Get unproductive sites blocked in a creative way. I want to take this issue. I am a Gssoc'22 Contributor.

[2022-03-01 14:13] iamrahulmahato opened #116 "Add Shark Tank Meme Extension"
Want to add a shark tank meme Extension to have fun while surfing the internet

As a participant of GSsOC '22, I would like to work on it.

[2022-03-01 14:16] iamrahulmahato opened #117 "Want to add Password generator extension"
Want to add a Password generator extension to generate strong passwords while surfing the internet

As a participant of GSsOC '22, I would like to work on it.

[2022-03-01 15:33] #112 closed

[2022-03-01 16:25] iamrahulmahato opened #118 "Want to make breaking bad random quote generator"
I will make a breaking bad random quote generator which you can see while surfing internet

[2022-03-01 16:25] iamrahulmahato commented on #118
As a participant of GSsOC '22, I would like to work on it.

[2022-03-01 16:26] #118 closed

[2022-03-01 16:48] #116 closed

[2022-03-01 16:52] iamrahulmahato opened #119 "Want to make breaking bad random quote generator Extension"
I will make a chrome extension that will generate random breaking quotes every time you click it.

[2022-03-01 16:52] iamrahulmahato commented on #119
As a participant of GSsOC '22, I would like to work on it.

[2022-03-01 19:17] vaibhavmehro commented on #117
I want to work on it which can easily generate the password and can save it also in the user profile

[2022-03-01 21:23] whiteHatpro commented on #57
@harshita214 please assign this to me

[2022-03-02 06:52] Varshini-k-02 opened #121 "Customized bookmark that has links to coding platforms like LeetCode, Codeforces, GFG, Codechef. Like an easy launcher for productivity"

[2022-03-02 06:55] Varshini-k-02 commented on #121
@harshita214 Can you please assign this to me, so that I can start working.

[2022-03-02 12:41] ankitashaw514 commented on #1
hello  @harshita214 I want to make a chrome extension in which whenever I am  reading something online and I want to revise that in future , I can add url, article name and date (when I want to revise that article) in the extension and it will send mail on the mentioned date with url and topic attach.

[2022-03-02 13:56] harshita214 commented on #114
Sure @IKRA786 You can go ahead with it
All the best 👍

[2022-03-02 13:59] harshita214 commented on #98
Completed - #110

[2022-03-02 13:59] #98 closed

[2022-03-02 14:13] harshita214 commented on #117
Hey @iamrahulmahato @shreelakshmijoshi @vaibhavmehro this extension is already present in the repo but you all can look at extension and enhance its features or UI

[2022-03-02 14:14] harshita214 commented on #121
@Varshini-k-02 Will these open the coding profiles of user or just the global website?

[2022-03-02 14:24] harshita214 commented on #115
Hey @SHRIYA1706 can you explain more briefly

[2022-03-02 14:25] harshita214 commented on #113
Sure @MeetaHaldar Are u using any API for that?

[2022-03-02 14:29] MeetaHaldar commented on #113
yes

[2022-03-02 14:31] SHRIYA1706 commented on #115
Basically it will be a shark tank theme based site ad blocker which will be
a chrome extension. We can block any site of our choice by adding that
Chrome extension in our browser just by adding that url manually.

On Wed, 2 Mar 2022, 19:54 Harshita sharma, ***@***.***> wrote:

[2022-03-02 14:41] iamrahulmahato opened #122 "Want to enhance UI of Password generator extension"
Want to enhance UI of Password generator extension to generate strong passwords while surfing the internet for getting better experience

As a participant of GSsOC '22, I would like to work on it.

[2022-03-02 14:41] #122 closed

[2022-03-02 14:42] #117 closed

[2022-03-02 14:44] iamrahulmahato opened #123 "Want to enhance UI of RandPass extension"
Want to enhance UI of Password generator extension to generate strong passwords while surfing the internet for getting better experience

As a participant of GSsOC '22, I would like to work on it.

[2022-03-02 14:44] mnnkhndlwl opened #124 "feat : rock paper scissor game extension"
i want to work on this issue under jwoc

[2022-03-02 16:41] Varshini-k-02 commented on #121
@harshita214 I think initially if the user is new to leetcode and such platforms, he/she will have to login. From next time, the website will login by default unless the user has logged out of the session previously. Hope you get it!

[2022-03-02 16:45] harshita214 commented on #123
Sure @iamrahulmahato Go ahead , all the best 👍

[2022-03-02 16:48] harshita214 commented on #121
@Varshini-k-02 so there is already an extension [Coding profile Launcher](https://github.com/harshita214/Chrome-Extension/tree/main/Coding%20Profile%20Launcher) for that

[2022-03-02 16:52] harshita214 commented on #124
Sure can you brief about its features

[2022-03-02 16:53] harshita214 commented on #1
@ManaliPawar can you explain the web scraper extension

[2022-03-02 16:54] harshita214 commented on #1
@ankitashaw514 sure kindly create an Issue stating the extension and features so that I can assign

[2022-03-02 17:02] Varshini-k-02 commented on #121
@harshita214 I'm so sorry!

[2022-03-02 17:06] ankitashaw514 opened #125 "Revision Helper Extension"
It is a Chrome Extension which is going to help in revising concepts by sending mail on the mentioned date with url and topic attach.

Basically this application has two parts:

1.Chrome Extension:-There is a form where you can add url, topic and date when you want to revise the topic.

2.Email Sender:- It is a Python Script which is going to check the database in every 24 hours and whenever any m

[2022-03-02 17:07] ankitashaw514 commented on #125
I would like to work on this under Gssoc22.

[2022-03-02 20:28] whiteHatpro opened #126 "All by keyboard"
the extension that helps u control your page just using the alphabet keys
A keyboard shortcut tool for keyboard-based page navigation and browser tab operations with an advanced omnibar and global shortcuts

[2022-03-02 20:28] whiteHatpro commented on #126
@harshita214 i want to work on this issue under JWoC

[2022-03-03 05:30] negia7265 commented on #119
I would like to work on this issue

[2022-03-03 05:41] Mrjoy832 opened #127 "Better Youtube Music Picker"
Hey, I am **TRIDIB BAG** GSSOC'22 contributor, wanted to add a chrome extension that will help to pick better suggestive music from Youtube.
 I will create an extension so that Youtube suggests better music videos, **Actually the problem I face in youtube when You listen to a song It will keep playing over and over again because Youtube seems not to be capable of coming up with new suggestions** s

[2022-03-03 06:08] ranimanya opened #128 "feat : Pinterest Extension"
Here I intend to create a Pinterest extension in Chrome browser. It helps us collect, organize, save and revisit our inspiring ideas whenever we wish to.

Please assign me this issue, I'm a Gssoc'22 participant.

[2022-03-03 09:02] shashank2906 opened #129 "Personalisation extention for chrome"
Here i would like to create a personalisation chrome extention where we can make a GUI using html and css and we can store our frequently visited links and we can access them from the extention itself .

We can also structure it to have multiple sections for different links like social media links , important websites to visit etc.

[2022-03-03 11:53] harshita214 commented on #126
Sure @whiteHatpro
All the best 👍

[2022-03-03 11:55] harshita214 commented on #127
Sure, so will you be searching on the base of tags, kindly explain this

[2022-03-03 11:56] harshita214 commented on #121
Its alright @Varshini-k-02 no worries

[2022-03-03 11:56] harshita214 commented on #113
Okay go ahead

[2022-03-03 11:57] harshita214 commented on #119
Can you explain it in brief with features and working

[2022-03-03 12:01] harshita214 commented on #124
Okay so randomly computer will give rock or paper or scissors and the user will have the option to choose right?

[2022-03-03 12:32] Mrjoy832 commented on #127
@harshita214, I will create an extension so that Youtube suggests better music videos, Actually the problem I face in youtube when You listen to a song It will keep playing over and over again because Youtube seems not to be capable of coming up with new suggestions so hat's the issue I want to fix with my this extension..Please assign me so that I can go for further contribution to it.

[2022-03-03 12:40] YalfamIamShaon commented on #129
Hey @shashank2906 please assign me this task. I am a GSSOC 22 participant, and I have already created a chrome extension. I would love to work on this.
And can tell me more about this, like what are your thoughts regarding the GUI. And here is my Chrome extension link
https://github.com/YalfamIamShaon/tracksy-chrome-extension (you can store important contacts or pages that you want to visit later,

[2022-03-03 12:42] iamrahulmahato commented on #119
It will work like an quote extension but rather than any random quote it will generate famous tv show breaking bad famous quotes

Example:
You need to stop focusing on the darkness behind you. The past is the past. Nothing can change what we’ve done.
WALTER WHITE

Features:
Breaking bad famous random quotes
enhance UI

working
When ever user click on extension it will show him breaking bad quotes

[2022-03-03 12:44] YalfamIamShaon commented on #121
Hello @harshita214 I would like to work on this task. I am a GSSOC 22 participant, and I have already created a chrome extension.
And can you tell me more about this, like what are your thoughts regarding the UI. And here is my Chrome extension link
https://github.com/YalfamIamShaon/tracksy-chrome-extension (you can store important contacts or pages that you want to visit later, my bookmark sectio

[2022-03-03 16:20] harshita214 opened #130 "feat : Tag suggester"
Often while posting on Instagram or any social media platform we think hard about what can be suitable tags to be added. Create an extension that can not only scan pictures but also words, and give suggested tags for that. Also, add a copy button option.

[2022-03-03 16:22] harshita214 commented on #119
Okay sure you can go ahead 👍

[2022-03-03 16:27] harshita214 commented on #125
Sure @ankitashaw514 Go ahead 👍

[2022-03-03 16:31] harshita214 commented on #127
Sure @Mrjoy832 All the best 👍

[2022-03-03 16:33] harshita214 commented on #12
@kalashvasaniya you are part of which program can you mention so that I can provide right tags

[2022-03-03 17:07] kalashvasaniya commented on #12
GSSoC - Contributor

[2022-03-03 18:28] Mrjoy832 opened #131 "Random News Extension"
Hey, I am **TRIDIB BAG** GSSOC'22 contributor, wanted to add a chrome extension that will help to pick random news all over the world which will definitely nourish our knowledge and also provide relief from our boredom .

@harshita214 can you please assign me to this issue, so that I can start contributing to this?

[2022-03-03 20:12] abhilipsasahoo03 opened #132 "feat: JPG2PNG (JPG to PNG Converter) Chrome Extension"
Hi, I'm a GSSOC'22 Contributor and I'd like to add a chrome extension wherein you can upload jpg file and get it converted to png file and download it.

[2022-03-04 05:07] adityaraj079 opened #133 "Extension to keep track for free udemy courses."
Hi, I'm a GSSOC'22 Contributor and I'd like to add a chrome extension wherein you can get daily udemy courses links that have become free for some time

[2022-03-04 05:45] ranimanya commented on #128
The Pinterest extension allows us to save anything we search on web such as images or websites. When we move our mouse over an image it shows a red 'save' button on top-left corner on the image. Once we click that button, it gets saved to a previously chosen board or we can create a new board. For saving websites, we can open the website and click the Pinterest icon on top-right of the browser and

[2022-03-04 06:08] SHRIYA1706 commented on #115
Is this issue already assigned to me. Can I start working on the same.@harshitar214@Spring-dot

[2022-03-04 10:15] nickel-28 opened #136 "Enhancing CSS properties in Quote Extension"
Hey @harshita214, I want to modify the CSS properties of the quote extension of your repo. Please assign me this issue.

[2022-03-04 11:38] harshita214 commented on #132
Sure @abhilipsasahoo03 you can go ahead with it, Also add the feature of png to jpj option
All the best 👍

[2022-03-04 11:38] whiteHatpro commented on #130
I want to work on this issue under JWoC

[2022-03-04 11:39] harshita214 commented on #133
Hey @adityaraj079 sure, Go ahead with it
All the best 👍

[2022-03-04 11:42] harshita214 commented on #133
While submitting a PR

- [ ] Create a folder of all codes

- [ ] Add a readme file with proper description of extension , screenshot and video of extension implementation

- [ ] In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-04 11:43] harshita214 commented on #136
Sure @nickel-28
Go ahead 👍

[2022-03-04 11:44] harshita214 commented on #136
While submitting a PR

- [ ] Create a folder of all codes

- [ ] Add a readme file with proper description of extension , screenshot and video of extension implementation

- [ ] In PR add what extension you worked by tagging issue and ss of that extension

In case of enhancement of UI kindly change the already presented pictures/video in readme file

All the Best

[2022-03-04 11:46] harshita214 commented on #131
Sure @Mrjoy832 Go ahead, are you using api for same?

[2022-03-04 11:48] harshita214 commented on #130
Sure @whiteHatpro
All the best 👍

[2022-03-04 11:49] harshita214 commented on #128
Sure @ranimanya Go ahead , All the best 👍

[2022-03-04 11:49] harshita214 commented on #128
While submitting a PR

- [ ] Create a folder of all codes

- [ ] Add a readme file with proper description of extension , screenshot and video of extension implementation

- [ ] In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-04 11:50] Mrjoy832 commented on #131
Using api not allowed?

[2022-03-04 11:52] harshita214 commented on #131
Yes, it's allowed, I am asking if you are building using API or using any other method?

[2022-03-04 11:56] Mrjoy832 commented on #131
I will try 1st without api ..if not able to do so,then I will use api

[2022-03-04 12:00] harshita214 commented on #115
@SHRIYA1706 there are 2 site blockers already present [Block Site](https://github.com/harshita214/Chrome-Extension/tree/main/block%20site) and [AD Blocker](https://github.com/harshita214/Chrome-Extension/tree/main/AD%20BLOCKER), you can take a look at both of them and think of enhancing feature of any one of them. Ping me on discord if you have any queries! I will be happy to help

[2022-03-04 12:08] harshita214 commented on #129
Sure @shashank2906, we have an extension like [Tab Tracker](https://github.com/harshita214/Chrome-Extension/tree/main/Tab%20Tracker) Kindly take a look and you add the feature of adding frequently visited links, important links in Tab tracker as an enhancement feature!

[2022-03-04 12:10] harshita214 commented on #131
Okay then how will you generate random updated news all over the world

[2022-03-04 12:37] Mrjoy832 commented on #131
Let me try please ...I am not sure ..I am making extension on it..if it's done I will make a PR kindly check it and give further feedback and if all are right merge that

[2022-03-04 12:45] harshita214 commented on #131
Sure, All the best you can start working
If you have any doubt you can ask on discord server

[2022-03-04 12:46] harshita214 commented on #12
Okay sure, Also kindly create a PR for same

[2022-03-04 13:43] abhilipsasahoo03 commented on #132
Hi @harshita214 I'm working on it right away!

[2022-03-04 14:25] Mrjoy832 commented on #131
I am not able to join the group regarding this project  on discord though I choose self roles  correctly on discord

[2022-03-04 14:31] Vaishnavi-Markunde opened #139 "Create notes extension linked with Notion"
Hi @harshita214 , I wanna create a note extension that would be linked with the notion account so that users can add notes whenever they want just by clicking on the extension.

[2022-03-04 17:02] Atharv-110 opened #140 "Social Media Blocker Extension"
## Description
### This will be an awesome JavaScript Extension some what similar to Ad Blocker but this Social Media Blocker will block all the social media while someone is focusing on his/her work.

@harshita214, please assign me this extension

#### Consider this under GSSoC'22

[2022-03-04 17:36] Tiya0310 commented on #100
I am a gssoc'22 participant. Can I work on this?

[2022-03-04 17:39] harshita214 commented on #100
Sure @Tiya0310 , Go ahead
All the best 👍

[2022-03-04 17:43] harshita214 commented on #124
Completed - #135

[2022-03-04 17:43] #124 closed

[2022-03-04 17:57] Tiya0310 commented on #100
Thank you :)

[2022-03-04 18:52] vaslal-324 opened #141 "Random Fact Generator"
Hey @harshita214 , **random fact generator** will be a nice extension for chrome which could be done using html, css and js. Please consider this under **GSSOC'22**

[2022-03-05 01:26] HarshKumarChoudary commented on #125
@harshita214 Please consider me next in the queue if the issue is not resolved. I'm a GSSOC22 participant

[2022-03-05 03:40] harshita214 commented on #12
@kalashvasaniya Kindly make a holiday extension as calendar one is already present you enhance its features or UI if you want

[2022-03-05 03:46] kalashvasaniya commented on #12
The calendar Which is already present Is not attractive & Good UI but My calendar is dynamic & Have Great UI

https://user-images.githubusercontent.com/88212870/156866502-dafd6893-9080-4dcd-9645-3c662365c461.mov

[2022-03-05 03:47] kalashvasaniya commented on #12
It took 4 days to Make it Pls. Merge it!

[2022-03-05 03:52] harshita214 commented on #12
In that kindly enhance the UI of [calendar](https://github.com/harshita214/Chrome-Extension/tree/main/calender%202022), I will assign you a new issue under that category. But for this issue, I can't accept this as clearly holidays are not shown here

[2022-03-05 03:58] kalashvasaniya commented on #12
Ok I will try!

[2022-03-05 03:58] harshita214 commented on #114
Kindly create a PR for the same
While submitting a PR

- [ ] Create a folder of all codes

- [ ] Add a readme file with a proper description of extension, screenshot, and video of extension implementation

- [ ] In PR add what extension you worked by tagging issue and ss of that extension

In case of enhancement of UI kindly change the already presented pictures/video in the readme file

All the B

[2022-03-05 04:05] harshita214 opened #142 "fix : UI enhancement of Calendar Extension"
Enhance the UI of [Calendar](https://github.com/harshita214/Chrome-Extension/tree/main/calender%202022) extension,

While submitting a PR kindly change the already presented pictures/video in readme file and In PR also Add ss of changes like Before/ After.

All the Best 👍

[2022-03-05 04:05] harshita214 commented on #12
Great, I have created an Issue for the same you can get it assigned to you if you are willing to work on that. Also, are you working on [this](https://github.com/harshita214/Chrome-Extension/issues/12) ?

[2022-03-05 04:06] harshita214 commented on #125
Sure @HarshKumarChoudary

[2022-03-05 04:07] harshita214 commented on #123
While submitting a PR kindly change the already presented pictures/video in readme file and In PR also Add ss of changes like Before/ After.

[2022-03-05 04:10] harshita214 commented on #127
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

Create a PR ,All the best 👍

[2022-03-05 04:11] harshita214 commented on #131
Can you text your problem in the general channel about this, I will see afterward

[2022-03-05 04:12] harshita214 commented on #131
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

All the best 👍

[2022-03-05 04:15] harshita214 commented on #140
@Atharv-110 there are 2 site blockers already present [Block Site](https://github.com/harshita214/Chrome-Extension/tree/main/block%20site) and [AD Blocker](https://github.com/harshita214/Chrome-Extension/tree/main/AD%20BLOCKER), you can take a look at both of them and think of enhancing feature of any one of them. Ping me on discord if you have any queries! I will be happy to help

[2022-03-05 04:19] kalashvasaniya commented on #12
Yaa assign that to me!

[2022-03-05 04:24] kalashvasaniya commented on #142
Hey Assign that to me I want to work on this issue.

[2022-03-05 04:25] iamrahulmahato commented on #123
ok i will do that

[2022-03-05 04:27] Atharv-110 commented on #140
This will not be site blocker, it will be only for social media blocker which doesn't make any coder get distracted by them. @harshita214

[2022-03-05 04:28] harshita214 commented on #142
Sure @kalashvasaniya

[2022-03-05 04:35] harshita214 commented on #140
@Atharv-110 kindly check [this](https://github.com/harshita214/Chrome-Extension/tree/main/block%20site) and view its readme file this is also blocking sites and focus features also.

I can see you are willing to develop a social media blocker then, [this](https://github.com/harshita214/Chrome-Extension/tree/main/AD%20BLOCKER) this is the task which you can do, that is here as of now only some spec

[2022-03-05 04:38] harshita214 commented on #12
Sure, also what about [this](https://github.com/harshita214/Chrome-Extension/issues/12) one? Are you working on this

[2022-03-05 04:38] harshita214 commented on #139
Sure can you explain more about this

[2022-03-05 04:41] harshita214 commented on #141
Sure @vaslal-324 you can go ahead with it.
Are you going to implement it using a api?

[2022-03-05 04:51] kalashvasaniya commented on #12
assign to someone else Because it's Take lot of time to creat.
Now, I'm working on issue you created to enhance the UI of Calendar :)

[2022-03-05 04:52] harshita214 commented on #12
Sure @kalashvasaniya

[2022-03-05 06:04] Atharv-110 opened #144 "Currency Converter Extension"
## Description
#### It will be an awesome extension which converts the respective currency let's say USD into desired one that's gonna be INR. It will also have an awesome, with easy and Minimalist User UI.

@harshita214 assign me this issue and consider it in GSSoC'22.

[2022-03-05 06:05] #140 closed

[2022-03-05 06:50] harshit0571 opened #146 "Cryptocurrency price update"
I want to create an extension to display crypto prices

[2022-03-05 07:03] shreya024 opened #147 "Random Activity Generator"
Feeling bored ? This Random activity generator will suggest an awesome activity to try something new.
@harshita214 Kindly assign me this issue

[2022-03-05 07:22] shr-code opened #148 "National Day today!"
I want to make an extension which tells you which day is celebrated on the present date. Please assign this issue to me.
I am GSSOC contributor

[2022-03-05 08:46] vaslal-324 commented on #141
As of now, it's just an array, I tried connecting the API by converting curl to fetch, but it doesn't seem to work
API link : https://fungenerators.com/api/facts/
This has APIs for random riddles as well.

[2022-03-05 09:38] Mrjoy832 commented on #131
Sure I will do

[2022-03-05 11:26] harshita214 commented on #148
@shr-code you can work on https://github.com/harshita214/Chrome-Extension/issues/12 this issue is similar to your idea proposed

[2022-03-05 11:27] harshita214 commented on #144
Will it be converting to only USD country currency or all

[2022-03-05 11:27] harshita214 commented on #146
Can you explain it more briefly with its features

[2022-03-05 11:29] harshita214 commented on #147
I see, can you give some example of activity also will this be generated on the basis of time , like if user has 10 minutes and is alone so he/she can do particular activity ...similarly if there are 3 people with 20 minutes they can do activity?

[2022-03-05 11:30] harshita214 commented on #141
Okay , go ahead

[2022-03-05 11:30] harshita214 commented on #141
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with proper description of extension , screenshot and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-05 11:31] harshit0571 commented on #146
i was thinking of an extension where you can search the name of the coin and get its current price, like the weather extension where you get the weather when you search the city.

[2022-03-05 11:43] harshita214 commented on #146
I see, what if user has not searched and wish to view the current price or compare them , is there any feature like that also?

[2022-03-05 11:55] harshit0571 opened #149 "ui enhancement of weather extension"
can i work on improving weather extension ui

[2022-03-05 12:12] shreya024 commented on #147
Sure I will be using this https://www.boredapi.com/documentation api so, I can provide options of a solo/group activity but the time thing I wont be able to do ....however alternatively I could provide options on the type of activity

[2022-03-05 12:30] harshit0571 commented on #146
we can display a chart of like top 10 coins when it is opened.

[2022-03-05 13:19] Mrjoy832 commented on #131
@harshita214 hey can you say how to add readme file with PR?

[2022-03-05 13:25] Atharv-110 commented on #144
It will be converting all the currency into desired and vice versa

[2022-03-05 15:01] whiteHatpro commented on #139
@Vaishnavi-Markunde the extension is already made up
so you can look into other ideas

[2022-03-05 15:16] AkankshaGawade opened #150 "UI enhancement of simple interest calculator"
As a GSSOC'22 Contributor, I would like to work on making the UI of Simple Interest Calculator more interactive.
Please assign this to me.

[2022-03-05 15:40] iamrahulmahato commented on #123
The PR is made #151 . Kindly review and merge it.
Thank You

[2022-03-05 18:40] toxic-coderr opened #153 "Modify Quotes extension"
Hey @harshita214!!! I want to modify this extension. Please assign this to me.

[2022-03-06 03:17] shr-code commented on #12
Please assign this issue to me. Could you please tell which api should be used here?

[2022-03-06 03:29] harshita214 commented on #147
Okay I see, try to implement time feature also like a timer that you have 10 minutes or 30 minutes for this activity

[2022-03-06 03:30] harshita214 commented on #147
While submitting a PR

- [ ] Create a folder of all codes
- [ ]  Add a readme file with proper description of extension , screenshot and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-06 03:31] harshita214 commented on #144
Sure go Ahead, All the best 👍

[2022-03-06 03:32] harshita214 commented on #57
Completed - #137

[2022-03-06 03:32] #57 closed

[2022-03-06 03:32] harshita214 commented on #146
Okay , what about comparison ?

[2022-03-06 03:52] harshita214 commented on #148
would you like to go ahead with #12 ?

[2022-03-06 03:53] harshita214 commented on #149
Sure @harshit0571 go ahead , All the best 👍

[2022-03-06 03:54] harshita214 commented on #149
While submitting a PR kindly change the already presented pictures/video in readme file and In PR also Add ss of changes like Before/ After.

Add ss in PR also

[2022-03-06 03:55] harshita214 commented on #150
Sure go ahead 👍

While submitting a PR kindly change the already presented pictures/video in readme file and In PR also Add ss of changes like Before/ After.

And in PR also attach SS

All the best

[2022-03-06 03:56] harshita214 commented on #114
kindly create a PR

[2022-03-06 03:56] harshita214 commented on #153
Can you explain more briefly , how and what you want to modify

[2022-03-06 06:22] Vaishnavi-Markunde commented on #139
Okay

[2022-03-06 07:30] ayush-sleeping opened #154 "feat : Age Calculator"
In this extension ,

First this extension ask you for your Birth Date and Timing of that days , After that it will calculate and it will show you exact ,
your Years, Months , days and hours , minutes and seconds also ,

[2022-03-06 07:30] ayush-sleeping commented on #154
@harshita214 . I want to work on this issue under JWOC'22.

[2022-03-06 10:41] Spring-dot commented on #129
@shashank2906 Are you going ahead to work on enhancement features as mentioned above?

[2022-03-06 11:26] Nehalmiglani opened #158 "social media blocker"
I would like to create a social media blocker extension that would block the social media sites which keeps us away from distractions.
do assign me.(GSSOC'22)

[2022-03-06 12:18] shashank2906 commented on #129
Sure , i am interested to work on this project
I have already forked the repo and have already started reading the code , Do i have to create a new issue regarding this or I would be assigned this task

[2022-03-06 12:58] priyanshi1282 opened #159 "Format Currency Extension"
#### This extension will format the entered number into<i> International Currency Number System</i>.
Say you entered <i>number 123456 </i>, this extension will format it into -
INR - ₹1,23,456.00
USD - $123,456.00
JPY - ￥123,456
<b>This will make the entered Amount more readable.</b>

#### Example Screen-Shot
![INRdemo](https://user-images.githubusercontent.com/88632352/156924126-b43bb515-c641-484

[2022-03-06 13:21] harshita214 commented on #159
Your idea is good, but what you can do is collaborate with https://github.com/harshita214/Chrome-Extension/issues/144 this issue and add your idea as its feature, what do you think

[2022-03-06 14:28] Spring-dot commented on #129
I will assign you this task,  also are you part of GSSoC? @shashank2906

[2022-03-06 14:33] Spring-dot commented on #158
@Nehalmiglani Please check once [Block site](https://github.com/harshita214/Chrome-Extension/tree/main/block%20site), maybe you can enhance that extension.

[2022-03-06 14:50] harshita214 commented on #154
Sure @ayush-sleeping , Can you add this feature in the BMI calculator as BMI analysis is also related to AGE
What do you think about it

[2022-03-06 16:48] harshita214 commented on #158
Yes, @Nehalmiglani you can look at  [AD BLOCKER](https://github.com/harshita214/Chrome-Extension/tree/main/AD%20BLOCKER) extension also for enhancement

[2022-03-06 17:19] Spring-dot commented on #127
@Mrjoy832 Kindly create PR for this issue.

[2022-03-06 17:21] Mrjoy832 commented on #127
Hey @Spring-dot  please give me 1 day more...I have Hackwithinfy tomorrow so I am Little busy now ..just after that I will create the PRb... sorry for the late

[2022-03-06 18:16] ayush-sleeping commented on #154
BMI incorporates weight and height, but it does not take age into account.

[2022-03-07 02:47] shr-code commented on #148
Hey Harshita! Can I raise another issue?

[2022-03-07 04:12] HardeepPatel opened #160 "Dad Jokes Extension"
During these times working online has become the norm. At times it can get tiring. Here is a Chrome extension to help lighten your mood, with the help of Dad Jokes.

[2022-03-07 04:24] shashank2906 commented on #129
yes i am a part of Gssoc .
Thank you

[2022-03-07 05:02] Spring-dot commented on #127
@Mrjoy832 okay

[2022-03-07 08:11] Shubhayu-Bhowmick opened #161 "Making a link saving chrome extension"
As a participant of Gssoc'22 I would like to build a working chrome extension that allows you to save links you want to bookmark.

![link save](https://user-images.githubusercontent.com/69085132/156992475-89730d6c-ea1e-4cc8-9a6d-0fa612dfae8c.png)
It would kinda look like this.

[2022-03-07 12:08] Mrjoy832 commented on #127
Hey @Spring-dot in readme file how to include image from our local machine?

[2022-03-07 13:11] abhinay99190 opened #162 "Added a new extension i.e., "Word_Definition""
I would like to create a "word definition" extension that would tell the definition of the word. please assign it me.(GSSOC'22)

[2022-03-07 14:14] priyanshi1282 commented on #159
Hey @harshita214, I reviewed #144 and it includes many types of currency conversion. And my extension provides 3 types of formatting. Also both projects are different.

[2022-03-07 14:42] harshita214 commented on #130
Completed - #157

[2022-03-07 14:42] #130 closed

[2022-03-07 14:44] harshita214 commented on #125
Completed - #145

[2022-03-07 14:49] harshita214 commented on #154
But BMI changes with age, anyways in that case you can go ahead with it
All the best 👍

[2022-03-07 16:01] NourYoussry commented on #1
@harshita214  Hi, I want to make an extension for the Pomodoro productivity technique (level-3 since I am a beginner still)
**features**
1. Add/remove tasks to work on
2. Start timer and focus on the task for 25 minutes
3. alarm rings when pomodoro is up
4. show Take a break alert and enable starting other tasks

[2022-03-07 16:25] shreya024 opened #165 "Cricket Series Extension"
This extension will provide a list of the current and upcoming cricket series sorted by date.
@harshita214 Kindly assign

[2022-03-07 18:51] aaryahjolia opened #166 "Adding a website blocker extension UI"
I made an extension UI to block the social media websites. However, It is not in working condition because I just made an UI on that, so can I add that to this project?

Image for UI extension :

![GSSoC](https://user-images.githubusercontent.com/82600388/157098757-416e9446-346d-4d27-b819-855901e4e767.png)

[2022-03-07 19:01] whiteHatpro opened #167 "feat: SEO checker"
Test SEO/speed/security of 100s of pages in a click! Check broken links, HTML/JavaScript/CSS, URL redirects, duplicate titles...

[2022-03-07 19:01] whiteHatpro commented on #167
@harshita214 I want to work on this issue under JWOC

[2022-03-08 08:37] Spring-dot commented on #166
@aaryahjolia there is already [AD BLOCKER](https://github.com/harshita214/Chrome-Extension/tree/main/AD%20BLOCKER) extension. See if you can work on its enhancement.

[2022-03-08 08:39] Spring-dot commented on #165
@shreya024 Are you a participant of GSSoC'22?

[2022-03-08 08:42] shreya024 commented on #165
Yes @Spring-dot

[2022-03-08 09:26] aaryahjolia commented on #166
Ohk sure @Spring-dot 🙌🏻

[2022-03-08 09:26] #166 closed

[2022-03-08 13:25] simplyNour opened #170 "Pomodoro Extension"
@harshita214 Hi, I want to make an extension for the Pomodoro productivity technique (level-3 since I am a beginner still)
features

    Add/remove tasks to work on
    Start timer and focus on the task for 25 minutes
    alarm rings when pomodoro is up
    show Take a break alert and enable starting other tasks

[2022-03-08 15:14] harshita214 commented on #154
Completed - #168

[2022-03-08 15:14] #154 closed

[2022-03-08 16:41] harshita214 commented on #167
Sure @whiteHatpro go ahead , assigning you

[2022-03-08 22:09] whiteHatpro commented on #167
@harshita214 please review the pr

[2022-03-09 02:33] RiyaBhandari-2811 opened #172 "GRE Vocabulary Extension"
Hello @harshita214 👋🏻 , as a GSSOC'22 Contributor  i would like to give my contribution to this repo by adding the `GRE Vocabulary Extension` .

[2022-03-09 03:59] harshita214 commented on #167
I understand @seanw your concern, we surely do not appreciate code plagiarism and using the code without permission. Thank you for bringing this issue to light, I will surely not accept this and merge it. Sorry for the inconvenience caused, I can assure you your code will not be used/merged without your permission.

[2022-03-09 08:26] Shubhayu-Bhowmick commented on #161
hey! I would like to work on this issue under Gssoc'22. Plz assign me this project.

[2022-03-09 20:03] 28saakshii08 opened #174 "User languages extension"
A pie chart on user profile pages displaying a breakdown of what languages they have used in their repositories.

[2022-03-10 02:55] harshita214 commented on #159
Okay @priyanshi1282 you can go ahead with this extension, All the best 👍

[2022-03-10 02:58] harshita214 commented on #119
Update?
Kindly make PR by EOD

[2022-03-10 02:58] harshita214 commented on #123
Completed - #151

[2022-03-10 02:58] #123 closed

[2022-03-10 03:10] harshita214 commented on #147
Completed - #163

[2022-03-10 03:10] #147 closed

[2022-03-10 03:17] harshita214 commented on #172
@RiyaBhandari-2811, There is an extension [Meaning of Word](https://github.com/harshita214/Chrome-Extension/tree/main/Meaning%20of%20word%20extensions) already present for the same, are you also trying to build like this. If yes then you can enhance it , if not then kindly explain your features in brief

[2022-03-10 03:19] harshita214 commented on #162
@abhinay99190, There is an extension [Meaning of Word](https://github.com/harshita214/Chrome-Extension/tree/main/Meaning%20of%20word%20extensions) already present for the same, are you also trying to build like this. If yes then you can enhance it, if not then kindly explain your features in brief

[2022-03-10 03:20] harshita214 commented on #162
Also [Word of Day](https://github.com/harshita214/Chrome-Extension/tree/main/wordoftheday) is there , you can enhance this also

[2022-03-10 03:27] harshita214 commented on #160
@HardeepPatel there is [Random Jokes Extension](https://github.com/harshita214/Chrome-Extension/tree/main/Random%20Jokes%20Extension) are you trying to build like this , then you can enhance its features/UI if not then kindly explain features of your extension

[2022-03-10 03:29] harshita214 commented on #161
Sure @Shubhayu-Bhowmick go ahead, can you list down all the features and working

[2022-03-10 03:30] harshita214 commented on #161
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

 All the best 👍

[2022-03-10 03:31] harshita214 commented on #159
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-10 03:32] harshita214 commented on #148
Sure

[2022-03-10 03:33] harshita214 commented on #153
@toxic-coderr ?

[2022-03-10 03:33] harshita214 commented on #158
@Nehalmiglani would you like to go ahead or not with the issue?

[2022-03-10 03:34] harshita214 commented on #174
Sure @28saakshii08 go Ahead
All the best 👍

[2022-03-10 03:34] harshita214 commented on #174
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-10 03:35] harshita214 commented on #12
sure @shr-code

[2022-03-10 03:35] harshita214 commented on #12
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

 All the best 👍

[2022-03-10 03:36] harshita214 commented on #100
Update @Tiya0310
Kindly make a PR by EOD

[2022-03-10 03:38] harshita214 commented on #115
@SHRIYA1706 ?

[2022-03-10 03:40] harshita214 commented on #126
Kindly add this

[2022-03-10 03:41] harshita214 commented on #129
Update @shashank2906 ?

[2022-03-10 03:41] harshita214 commented on #132
@abhilipsasahoo03 Update?
Kindly create a PR by EOD

[2022-03-10 03:44] harshita214 commented on #131
Make a file in your folder with Readme.md name and you have to write about your extension, tech stack used, its description, screenshots/videos of extension for its implementation.

Hope this clears out, Also were you able to join the channel?

[2022-03-10 03:44] harshita214 commented on #133
Update @adityaraj079
Kindly create a PR by EOD

[2022-03-10 03:45] harshita214 commented on #141
@vaslal-324 Update?
Kindly create PR by EOD

[2022-03-10 03:46] harshita214 commented on #144
Update ?

[2022-03-10 03:46] harshita214 commented on #146
@harshit0571 update ?

[2022-03-10 03:47] harshita214 commented on #149
Kindly create a PR by EOD

[2022-03-10 03:47] harshita214 commented on #150
Kindly create a PR by EOD

[2022-03-10 03:49] SHRIYA1706 commented on #115
Yes I have gone through it. Will look into it.

On Thu, 10 Mar 2022, 09:08 Harshita sharma, ***@***.***>
wrote:

[2022-03-10 03:53] harshita214 commented on #115
Great, let me know if you would like to work on any one of them and what enhancement will you do

[2022-03-10 03:54] SHRIYA1706 commented on #115
Sure, I will let you know.

On Thu, 10 Mar 2022, 09:23 Harshita sharma, ***@***.***>
wrote:

[2022-03-10 03:59] shashank2906 commented on #129
Actually working on it ,
Some things are failing . I need some time to complete the changes .

[2022-03-10 04:00] Mrjoy832 commented on #131
Yes I joined ..but while making it I am facing some issue in APi, so I am late ..just give me some more

[2022-03-10 04:07] vaslal-324 commented on #141
The files are ready, sorry, I wanted to upload 2 days back, wasn't able to
coz of urgent work. I'll do it today.

Regards
Vasudha

On Thu, 10 Mar 2022, 9:16 am Harshita sharma, ***@***.***>
wrote:

[2022-03-10 04:15] RiyaBhandari-2811 commented on #172
My extension is specific to GRE vocab , also it contains features like :

1. It gives you the **`Synonyms + Examples + Pronunciation`** features .
2. It has clear search also , so basically my div will not just keep growing if i search for more word at single time .

The main feature is the `Pronunciation` one which will help user to get the pronunciation for search word correctly .

[2022-03-10 04:35] abhilipsasahoo03 commented on #132
Hi @harshita214 I'll be creating a PR by today. Sorry for the delay.

[2022-03-10 04:45] harshit0571 commented on #146
i am having trouble  with crypto api.
working on it

[2022-03-10 05:00] RiyaBhandari-2811 commented on #172
Nooo mine is very different , what mine extension does is when ever you click on extension  it will give you new word with its definition and example .  The one your talking about is the word search one mine is not search it is suggesting new word every time .

[2022-03-10 07:23] abhinay99190 commented on #162
I am added Word Definition web app...!

<hr>

**### Word Definition**

_The Word Definition app will show the definition of the following words._

<hr>

**### Tech Stack**

 ![HTML](https://camo.githubusercontent.com/5d3b0191832237fcbfc6d4497524e8bb547c6bfc9eafb738d5205c629d202067/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f68746d6c352532302d2532334533344632362e7376673f267374796c653d

[2022-03-10 07:27] abhinay99190 commented on #162
I share you the overall structure of my project. Please review it and confirm that is it same as "Meaning of Word" and "Word of Day" as you mentioned. If it is same then I will do some other project and contribute in your project.

[2022-03-10 09:11] iamrahulmahato commented on #119
@harshita214 sorry for the late PR is made #176.Kindly review and merge it.
Thank You

[2022-03-10 09:15] iamrahulmahato opened #178 "Random User Generator Extension"
Project title
(Random User Generator)

Project Description
(Random User Generator will generate random user with name, email and phone no, for this I will use an API which fetches the data from and it will be added to DOM)

Stack:

Html
CSS
JavaScript
Web API

I am a GSSoC Contributor.Please assign me this project

[2022-03-10 09:38] whiteHatpro commented on #126
@harshita214 added the files as requested!!

[2022-03-10 10:03] kalashvasaniya opened #180 "UI Enhancement of Water-break extension"
UI Enhancement of Water-break extension.

[2022-03-10 12:09] Atharv-110 commented on #144
Raising PR in 2 days as I am indulged in mid semester examination.

[2022-03-10 15:21] priyanshi1282 commented on #159
ok @harshita214 👍

[2022-03-10 16:36] Tiya0310 commented on #100
Ok.

[2022-03-10 21:17] Sulagna-Dutta-Roy opened #185 "Add Dark Mode Extension"
It will be a extension that the user can change the modes dark to day and day to dark. kindly assign me under gssoc'22

[2022-03-11 13:57] AnkushVerma000 opened #186 "Adding dark theme and making extension for all social sites"
Adding dark theme and making extension for

[2022-03-11 14:22] RiyaBhandari-2811 commented on #172
What happen @harshita214 ???

[2022-03-11 15:39] harshita214 commented on #129
Okay
Create a PR today then

[2022-03-11 15:41] harshita214 commented on #131
Sure, So create a PR today then

[2022-03-11 15:41] harshita214 commented on #132
Okay 👍

[2022-03-11 15:41] harshita214 commented on #133
@adityaraj079

[2022-03-11 15:50] harshita214 commented on #162
@abhinay99190 its similar to [Meaning of Word](https://github.com/harshita214/Chrome-Extension/tree/main/Meaning%20of%20word%20extensions) except in yours there are suggestions when the wrong word is entered, what you can do is enhance [Meaning of Word](https://github.com/harshita214/Chrome-Extension/tree/main/Meaning%20of%20word%20extensions)'s feature of suggestion and no result found.

[2022-03-11 15:50] harshita214 commented on #162
Would you like to work on enhancement?

[2022-03-11 15:54] harshita214 commented on #172
@RiyaBhandari-2811 then yours is similar to [Word of the day](https://github.com/harshita214/Chrome-Extension/tree/main/wordoftheday) But it shows constant word for time being, would you like to enhance this one and transform it by adding the above features you are suggesting and changing word each time a button is clicked

[2022-03-11 16:28] Mrjoy832 commented on #131
yes till night it will be done

[2022-03-11 16:41] abhinay99190 commented on #162
So can I create this project separately or will I have to enhance the feature in the "Meaning of Word" itself? Please suggest me

[2022-03-11 20:33] shashank2906 commented on #186
On which extention are you working ??

[2022-03-11 20:36] shashank2906 commented on #129
#191   pull request added

I have created a PR with all the frontend and design changes . Currently working on the functionality part and it is yet to be added .

[2022-03-12 05:31] haritdheer opened #192 "Adding Quote (Good Thoughts) Generator"
hey @harshita214 . I want to add Quote Generator to your project under Gssoc'22 , Please assign me this project , its my great pleasure if you provide me opportunity to collaborate on this project.

[2022-03-12 19:10] aditi10701 commented on #192
I am interested in working with this project also I have worked with this before as a website.
sample -https://ecstatic-lamarr-00c5ab.netlify.app/
Please assign me this , I will give my best if given a chance

[2022-03-13 15:34] iamrahulmahato commented on #119
Hi @harshita214  kindly review my PR

[2022-03-14 04:17] shreya024 opened #193 "The Github Extension"
This Extension will showcase the status of pulls, issues and recent comments when provided with the Github username as input. This will make the life of any github user easier as they can readily check their recent github developments.I will develop this using the Github API.

[2022-03-14 04:18] shreya024 commented on #193
Kindly assign @harshita214 @Spring-dot

[2022-03-14 16:42] harshita214 commented on #172
@RiyaBhandari-2811 ?

[2022-03-14 16:43] harshita214 commented on #180
Sure go ahead @kalashvasaniya
Assigning you 👍

[2022-03-14 16:48] harshita214 commented on #185
Sure @Sulagna-Dutta-Roy go ahead
All the best 👍

[2022-03-14 16:50] harshita214 commented on #186
Cany you explain briefly @AnkushVerma000

[2022-03-14 16:51] harshita214 commented on #185
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-14 16:53] harshita214 commented on #192
Hey @haritdheer , @aditi10701 there is already a extension [Quotes](https://github.com/harshita214/Chrome-Extension/tree/main/Quotes) are you developing a different extension ? If yes then kindly expalin your features which are different from the already present one. If not you can work on enhancing the features

[2022-03-14 16:58] harshita214 commented on #170
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-14 16:58] harshita214 commented on #180
While submitting a PR

- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-14 16:59] harshita214 commented on #193
Sure go Ahead @shreya024
All the best 👍

[2022-03-14 16:59] harshita214 commented on #193
While submitting a PR

- [ ] Create a folder of all codes
- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

[2022-03-14 17:00] harshita214 commented on #160
@HardeepPatel ??

[2022-03-14 17:00] harshita214 commented on #178
@iamrahulmahato can you explain more about this and its utility also

[2022-03-14 17:01] harshita214 commented on #174
Update ?

[2022-03-14 17:02] harshita214 commented on #162
You can work on enhancing the present one so that it will become more feasible , I can assign you

[2022-03-14 17:04] harshita214 commented on #148
@shr-code ??

[2022-03-14 17:04] harshita214 commented on #153
@toxic-coderr ??

[2022-03-14 17:10] RiyaBhandari-2811 commented on #172
I was thinking of doing of my own , but it will get repeated . I'm working on new extension idea .
I'm trying to make it rough if it works I'll raise the new issue (I'm figuring out the code/ tech stack) .

[2022-03-14 17:17] HardeepPatel commented on #160
Its more or less same, I will try to create another extension.

[2022-03-14 17:19] HardeepPatel opened #197 "Dictionary Extension"

[2022-03-14 17:23] shreya024 commented on #193
Okay,kindly assign it to me.And I would appreciate if you could make it a level 2 since I need to work on the UI and custom javascript. Thank you

[2022-03-14 18:30] abhinay99190 commented on #162
thank you @harshita214  and I will definitely enhance it for better use.  Thank you for assign it to me.

[2022-03-15 00:22] AnkushVerma000 commented on #186
A extension that contains all my social median account like this image( on
thr position of loading my all social media accounts are there))  when i
open pop up screen all social media account show there and i thik that i
have to add some features like automatic reply  and others . But i am
student and i dont not more about extension so i  found so many
difficulties at this moment.

On Mon, 14 Mar

[2022-03-15 07:34] RiyaBhandari-2811 opened #199 "Say It 🔊"
Hello @harshita214 👋🏻 , as a GSSOC'22 Contributor  i would like to give my contribution to this repo by adding the `Say It 🔊`

<h1 align="center">Say It 🔊</h1>

 ### What this Extension Do ??

 ### Tech Stack  📚

` Note  :    If you like my idea , pls assign these issue to me and comment down below so that i can start working on this COOL Extension . `

[2022-03-16 07:43] aka9ksha opened #200 "Budget Manager Extension"
Hello 👋🏻 , as a GSSOC'22 Contributor i would like to give my contribution to this repo by adding Budget Manager Extension

[2022-03-16 09:03] 28saakshii08 commented on #174
Working on it.

On Mon, 14 Mar 2022, 22:31 Harshita sharma, ***@***.***>
wrote:

[2022-03-16 17:11] whiteHatpro commented on #197
@HardeepPatel can u please provide the description of what you want to achieve in this?

[2022-03-16 17:19] whiteHatpro commented on #200
@aka9ksha it would be great if u can explain this issue a little bit more

[2022-03-16 17:41] whiteHatpro commented on #199
@RiyaBhandari-2811 yes you can go for it
but try to add some other functionalities as the feature is already available in google voice!!!

Assigning issue to @RiyaBhandari-2811
All the best!!🚀
happy contributing💛

[2022-03-16 17:45] whiteHatpro commented on #172
update?

[2022-03-16 18:18] whiteHatpro commented on #158
@Nehalmiglani please update

[2022-03-16 18:19] whiteHatpro commented on #153
@toxic-coderr please reply within one day or we'll close this issue

[2022-03-16 18:32] RiyaBhandari-2811 commented on #199
I'm going to make use of SpeechSynthesisUtterance and that's different from google voice , so i guess it will work for you  .

[2022-03-16 18:56] whiteHatpro commented on #115
@SHRIYA1706 any update?

[2022-03-17 03:27] #165 closed

[2022-03-17 05:11] SHRIYA1706 commented on #115
Still working on it.

On Thu, 17 Mar 2022 at 00:26, Mohak Srivastav [whiteHatpro] <
***@***.***> wrote:

[2022-03-17 09:21] HardeepPatel commented on #197
Whichever word you search it will provide you the meaning of it.

[2022-03-17 14:55] aka9ksha commented on #200
**What this Extension Does?**
This extension accepts the spending of user and displays the spending ,users can also set the limit of the spending and get notified when reached the limit .It also has option to reset the amount as well as the limit.

**Tech Stack**
HTML ,CSS AND JS.

[2022-03-17 18:23] whiteHatpro commented on #199
okay, all the best!!!

[2022-03-17 18:23] #172 closed

[2022-03-17 18:24] whiteHatpro commented on #172
okay @RiyaBhandari-2811 closing this issue

[2022-03-17 18:34] whiteHatpro commented on #197
@HardeepPatel already have this extension!!
you can work on the enhancement of the extension by the name "meaning of word"

[2022-03-17 19:52] whiteHatpro commented on #200
@aka9ksha so will it be fetching the expenses we made online on various platforms?

[2022-03-18 03:36] harshita214 commented on #150
Completed - #177

[2022-03-18 03:36] #150 closed

[2022-03-18 03:43] harshita214 commented on #159
@priyanshi1282 You have added the extension twice kindly revert and remove one duplicate folder
Secondly the image present in readme is not loading, check that also
Also add a video implementation of extension

[2022-03-18 03:47] priyanshi1282 commented on #159
okay @harshita214 👍

[2022-03-18 04:16] aka9ksha commented on #200
No, the user have write the amount spended on its own.

[2022-03-18 10:46] whiteHatpro commented on #200
oh okay!!
yes you can sure work on that

@aka9ksha assigning to you!!
all the best!!🚀💛

[2022-03-19 05:47] Spring-dot commented on #199
@RiyaBhandari-2811 please make PR for this issue.

[2022-03-19 07:37] RiyaBhandari-2811 commented on #199
Done

[2022-03-19 13:21] #185 closed

[2022-03-20 02:56] harshita214 commented on #126
Completed - #169

[2022-03-20 02:56] #126 closed

[2022-03-20 02:57] harshita214 commented on #128
Completed - #173

[2022-03-20 02:57] #128 closed

[2022-03-20 02:58] harshita214 commented on #12
@shr-code kindly make PR ASAP by today

[2022-03-20 03:27] harshita214 commented on #170
@NourYoussry ??

[2022-03-20 03:27] harshita214 commented on #146
@harshit0571 ?

[2022-03-20 03:28] harshita214 commented on #174
Kindly make a PR by EOD

[2022-03-20 08:26] priyanshi1282 commented on #159
Hey @harshita214  I will be Creating a new pull request with required changes.

[2022-03-20 11:04] NourYoussry commented on #170
Some stuff came up I will start on it tomorrow sorry for the delay

[2022-03-20 15:38] MeetaHaldar commented on #158
@harshita214  can you assign me this issue?

[2022-03-20 21:40] whiteHatpro commented on #158
You will be working as an enhancement of the issue, right?

[2022-03-21 02:31] harshita214 commented on #178
@iamrahulmahato ?

[2022-03-21 07:43] Chaitanya1211 commented on #131
is this extension still open??

[2022-03-21 08:06] Mrjoy832 commented on #131
Yes PR is not checked further 🙃

[2022-03-21 11:37] MeetaHaldar commented on #158
can you explain what you want to say?

i was saying that can i make this chrome extension if you assign me this issue then i can work it.
@whiteHatpro

[2022-03-21 13:47] iamrahulmahato commented on #178
@harshita214  It will be a random user generator when you click on the extension it will fetch data through an API and provide the random name, email, phone, and this country with every click it changes

[2022-03-22 04:10] MeetaHaldar commented on #158
@whiteHatpro  okay i will see if i can make any change then i will do that

[2022-03-23 10:02] dvlsatya commented on #174
@harshita214 can you assign this work to me?

[2022-03-23 10:03] dvlsatya commented on #161
@harshita214 can you assign this work to me?

[2022-03-23 15:06] RiyaBhandari-2811 commented on #199
@harshita214  @Spring-dot  @whiteHatpro  ???

[2022-03-23 16:57] alisha-kamat opened #210 "Page Loading-Time Tracker Extension"
An extension that displays the time taken followed by an indicator (red/yellow/green), depending on how fast/slow the page loads.

[2022-03-24 02:23] harshita214 commented on #210
Can you explain this issue briefly

[2022-03-24 02:52] harshita214 commented on #119
Completed - #176

[2022-03-24 02:52] #119 closed

[2022-03-24 02:57] harshita214 commented on #159
Completed - #206 & #183

[2022-03-24 02:57] #159 closed

[2022-03-24 03:06] #153 closed

[2022-03-24 03:06] harshita214 commented on #148
@shr-code you can make a new issue now , closing this issue

[2022-03-24 03:06] #148 closed

[2022-03-24 03:07] harshita214 commented on #193
Completed - #201

[2022-03-24 03:07] #193 closed

[2022-03-24 03:08] harshita214 commented on #199
@RiyaBhandari-2811 Good work!
Kindly add a picture of the extension in readme file

[2022-03-24 03:10] harshita214 commented on #174
@28saakshii08 kindly make a PR by today
else it will be assigned to @dvlsatya

@dvlsatya If @28saakshii08 will not work on this then you can work on it after today

[2022-03-24 03:11] harshita214 commented on #170
@NourYoussry Kindly make a PR by EOD

[2022-03-24 03:13] harshita214 commented on #149
PR - #181
Kindly add a video implementation by today

[2022-03-24 03:14] harshita214 commented on #127
@Mrjoy832 kindly make PR by today

[2022-03-24 03:16] harshita214 commented on #100
@Tiya0310 kindly make a PR by EOD

[2022-03-24 03:17] harshita214 commented on #12
@shr-code ?

[2022-03-24 03:19] harshita214 commented on #114
@IKRA786 make a PR by today else it will be un-assigned to you

[2022-03-24 06:51] alisha-kamat commented on #210
It measures the loading time of a page along with an indicator.

For instance, if a page takes an unusually long time to load, the extension will display a red colored warning message indicating it. But if it loads within the given threshold, the indicator will turn green. And so on for yellow.

[2022-03-24 10:36] Spring-dot commented on #178
@iamrahulmahato what will be its utility?

[2022-03-24 10:38] Spring-dot commented on #161
@Shubhayu-Bhowmick update?
if @Shubhayu-Bhowmick is not working on this issue, then we will assign to @dvlsatya you.

[2022-03-24 10:41] Spring-dot commented on #127
refer this: https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax

[2022-03-24 10:45] iamrahulmahato commented on #178
@Spring-dot In most of the places programmers don't want to expose the  real identity because of some **privacy** reason it will work there
Thank you

[2022-03-24 11:04] #127 closed

[2022-03-24 11:04] Mrjoy832 commented on #131
@harshita214  check it.....

[2022-03-24 14:37] shr-code opened #211 "Paraphrasing Extension"
Hey, I'm a GSSOC contributor and would like to work on paraphrasing extension. Please assign this issue to me!

[2022-03-24 16:36] shr-code commented on #12
Hey Harshita! I'm sorry I didn't get any api for this. I had asked you for raising another issue to which you agreed. I want to work on issue #211

[2022-03-24 17:02] shr-code commented on #211
@harshita214 i couldn't find any api for that.. it was not feasible. I want to work on this issue. Could you please assign this to me?

[2022-03-24 17:06] NourYoussry commented on #170
@harshita214 pardon for that, I will start working on the next issue earlier :/

[2022-03-25 02:29] iamrahulmahato opened #212 "Want to add a youtube link extension"
Motive:
Whenever you open youtube you have to go through a lot of steps to find out your recent youtube videos so, I will make an extension that will provide the top 10 recent youtube videos you watched with a link

stack:
Html
CSS
JS

I am a GSSoC Contributor.

[2022-03-25 04:23] pranv-sonawane commented on #212
Hey i can help you with that if you want! i am a GSSoC Contributor too

[2022-03-25 13:08] ghost opened #214 "can we add extension to make unfollow to pages and people in Facebook"
can we enhance it to become for all social media like LinkedIn, youtube
can you assign it to me but it takes time because I'm a beginner at it

[2022-03-26 04:07] shr-code commented on #211
@harshita214 ?

[2022-03-26 09:31] Spring-dot commented on #214
@GAbdulWahab can you explain it more? Are you GSSoC participant?

[2022-03-26 12:35] GAbdulWahab commented on #214
@Spring-dot yes, I am in GSSOC'22 and I'm a beginner :)
Well, I will explain to you, due to the diversity and increase of content on Facebook pages, people follow more so that the page is filled with things that are not useful, so he resorts to disliking more pages and people with useful content and this takes more time, especially since the number of pages is many, In the extension, you will do t

[2022-03-26 12:36] GAbdulWahab commented on #214
@Spring-dot   and I want to make one extension control in all social media especially in button in unfollowing :)

[2022-03-26 13:15] #199 closed

[2022-03-27 04:59] #180 closed

[2022-03-27 10:00] harshita214 commented on #141
Completed - #175

[2022-03-27 10:00] #141 closed

[2022-03-27 10:03] harshita214 commented on #210
Okay go ahead you can work on this
All the best 👍

[2022-03-27 10:05] harshita214 commented on #211
@shr-code sure
Go ahead, All the best 👍
Assigning you

[2022-03-27 10:06] harshita214 commented on #212
@iamrahulmahato will these recent videos be fetched from history? or suggestions of video

[2022-03-27 10:09] harshita214 commented on #214
@GAbdulWahab are you going to build a replica of [this](https://chrome.google.com/webstore/detail/unfollow-everything-on-fa/ogjpnnnookdhieoajbecmmgpgkeepnao?msclkid=cd632f0bad0011ec8af630dd05550027) extension

[2022-03-27 10:12] #132 closed

[2022-03-27 10:13] harshita214 commented on #170
@NourYoussry So are you not working on this?

[2022-03-27 10:14] harshita214 commented on #161
@Shubhayu-Bhowmick since you are not active, @dvlsatya assigning to you
All the best  @dvlsatya 👍

[2022-03-27 10:15] harshita214 commented on #161
@dvlsatya can you list down all the features

[2022-03-27 10:17] harshita214 commented on #146
@harshit0571 kindly make a PR by EOD

[2022-03-27 12:53] iamrahulmahato commented on #212
@iamrahulmahato it will be recent videos

[2022-03-27 12:53] iamrahulmahato commented on #212
@harshita214 it will fetch the recent app

[2022-03-27 14:50] Akriti-007 opened #216 "Random anime pictures"
Hello! I am GSSoC 2022 contributor. I want to add an extension which shows random anime pictures.

[2022-03-28 11:22] GAbdulWahab commented on #214
@harshita214  yes I will try to make like this extension
and will enhance it to be capable with another social media

[2022-03-30 13:29] harshita214 commented on #114
Completed - #155

[2022-03-30 13:29] #114 closed

[2022-04-01 04:15] shreya024 commented on #170
@harshita214 I would like to work on this issue if no one else is working on it. Kindly assign

[2022-04-01 10:35] Akriti-007 commented on #216
It will show random anime images like that of Naruto and many more, and is a great hangout (especially for anime fans).

[2022-04-01 13:30] iamrahulmahato commented on #212
@harshita214  sorry I mean to say it will fetch videos from recent history

[2022-04-01 14:00] iamrahulmahato opened #217 "Bug Issue : Chrome will no longer accept Manifest V2 extension updates in the Chrome web browser."
We need to change the manifest v2 to v3
project name:- Random Jokes Extension

![bug 1](https://user-images.githubusercontent.com/49890655/161278463-920f1c93-4f61-42ad-bb9b-79a8b0e0330b.jpg)
![bug 2](https://user-images.githubusercontent.com/49890655/161278491-79a8c5d6-ef90-4fc9-bc26-7922fe4c1466.jpg)

I would like to solve the issue

[2022-04-01 14:01] iamrahulmahato commented on #217
I'm a GSSOC22 contributor

[2022-04-01 14:01] #217 closed

[2022-04-01 14:04] #178 closed

[2022-04-01 14:06] iamrahulmahato opened #218 "Bug Issue : Chrome will no longer accept Manifest V2 extension updates in the Chrome web browser."
We need to change the manifest v2 to v3
project name:- Random Jokes Extension
![bug 1](https://user-images.githubusercontent.com/49890655/161279705-a15b4f70-e36a-480c-afa2-494d308f555e.jpg)
![bug 2](https://user-images.githubusercontent.com/49890655/161279725-93ad3f3d-7329-4a09-b648-59f93dcdddb4.jpg)
I would like to solve the issue

[2022-04-01 14:06] iamrahulmahato commented on #218
I'm a GSSOC22 contributor

[2022-04-02 14:07] abhilipsasahoo03 opened #220 "doc: Minor Enhancement in README.md"
**Description**

I'd like to make minor enhancements in README.md file, such as:
- Updation in the Chrome Extensions List/Table
- Adding Code Of Conduct File and its corresponding section in README
- Minor documentation improvements

I'd like to make this contribution under GSSOC'22

[2022-04-02 15:14] ishabhthakur commented on #212
hey @harshita214    i want to contribute to your project please assign me this issue!! under GSSOC'22 !!!
I have new solution regarding
it

[2022-04-02 15:14] ishabhthakur commented on #216
hey @harshita214   i want to contribute to your project please assign me this issue!! under GSSOC'22 !!!
I have new solution regarding this issues please if the assigned person not working on it

[2022-04-02 15:15] ishabhthakur commented on #197
hey @harshita214    i want to contribute to your project please assign me this issue!! under GSSOC'22 !!!
I have new solution

[2022-04-02 15:17] ishabhthakur commented on #133
hey @Umesh-01   i want to contribute to your project please assign me this issue!! under GSSOC'22 !!!

[2022-04-02 16:41] dee-ksha opened #221 "New Extension HackTrack"
I wish to add a new extension through which you can keep track of the upcoming hackathons and contests you register for by adding them to the list. It can also be used as a To-Do List.

[2022-04-02 17:23] Umesh-01 commented on #133
You can go for it just open a issue, I will assign it to you.

[2022-04-02 18:19] abhilipsasahoo03 commented on #220
Hi @harshita214 kindly assign me this issue so that I can make a PR

[2022-04-03 08:23] komalswami opened #223 "New Extension : github unfollwers"
Chrome extension for listing people who unfollowed you on Github in the notification.

[2022-04-04 08:19] TG922 opened #224 "Adding Stop Watch Extension"
### Description

- Adding Stop Watch Chrom Extension

### Tech Stack
- HTML, CSS and JS.

I'm a GSSOC '22 contributor and would like to work on this issue

[2022-04-04 10:53] Sukriti-m opened #225 "Add CODE_OF_CONDUCT.md file"
### Problem
CODE_OF_CONDUCT file is missing in this repository.

### Solution
I want to add the CODE_OF_CONDUCT.md file to this repo.

### Additional context
I am contributor at GSSoC '22. Please assign this issue to me.

[2022-04-04 16:23] harshita214 commented on #223
Can you explain it more
and make it instead for follow, like notification when someone followed

[2022-04-04 16:24] harshita214 commented on #216
@Akriti-007 so apart from randomly showing the picture what else will it show? Like name, description etc? Also any feature

[2022-04-04 16:25] harshita214 commented on #220
Sure @abhilipsasahoo03
All the best 👍

[2022-04-04 16:28] harshita214 commented on #221
@dee-ksha will there be a list of hackathons/events or does the user has to add that manually?

[2022-04-04 16:29] harshita214 commented on #197
@ishabhthakur you can work on enhancing the already present one. Also kindly explain your solution

[2022-04-04 16:31] harshita214 commented on #224
@TG922 there is already [Timer](https://github.com/harshita214/Chrome-Extension/tree/main/Timer) extension, is your idea similar to this. If yes, then you can enhance this. If not then kindly explain your idea more briefly with its features

[2022-04-04 16:58] komalswami commented on #223
sounds good I can do that as well.

[2022-04-05 01:55] Sukriti-m opened #227 "Country-Capital Chrome Extension"
It's fun to know about capital cities of different countries.I will add the extension in which the user will enter the country's name and in response will be shown the name of the capital city.

I am contributor at GSSoC '22. Please assign this issue to me.

[2022-04-05 08:14] Akriti-007 commented on #216
Yes name will be shown along with picture!

[2022-04-05 16:10] harshita214 commented on #162
Completed - #215

[2022-04-05 16:13] harshita214 commented on #223
Great go ahead
All the best 👍

[2022-04-05 16:13] harshita214 commented on #218
Sure @iamrahulmahato
Assigning you

[2022-04-05 16:14] harshita214 commented on #216
Okay
Any other feature?

[2022-04-05 16:16] harshita214 commented on #212
@iamrahulmahato Sure go-ahead, are you using API for the same?

@ishabhthakur sure kindly elaborate your idea we can work on it if its implementable

[2022-04-05 17:10] iamrahulmahato commented on #212
@harshita214 yes I will use an API not only that I will add two functions in the extension where you can not only get the recent video also get the link of a recent video so that with one click you can share your video easily

[2022-04-05 17:58] TG922 commented on #224
Is it done already @harshita214 ?? Ok i am closing this issue

[2022-04-05 17:58] #224 closed

[2022-04-05 20:52] ravenclaw-10 opened #228 "New extension : News Extension"
It shows news though news api.

[2022-04-05 22:02] iamrahulmahato commented on #218
@harshita214  The PR is made #229  . Kindly review and merge it.
Thank You

[2022-04-07 00:11] shreya024 opened #230 "IP Geolocation Extension"
This extension will fetch the detailed location ,timezone, security and connection type when an IP address is provided

[2022-04-07 00:12] shreya024 commented on #230
@harshita214 @Spring-dot Kindly assign

[2022-04-07 04:40] simplyNour opened #231 "Birthday extension"
extension that counts down till your birthday and on your birthday 12 am plays happy birthday song (and maybe display colorful ribbons falling on your current open tab)

@harshita214

[2022-04-08 14:22] #220 closed

[2022-04-08 14:25] harshita214 commented on #170
@shreya024 assigning you
All the best 👍

[2022-04-08 14:39] harshita214 commented on #231
@simplyNour That seems an interesting extension
Go ahead, All the best 👍

[2022-04-08 15:19] harshita214 commented on #133
@ishabhthakur Sure
Go ahead, All the best 👍

@Umesh-01 are you a contributor or mentor?

[2022-04-08 15:20] harshita214 commented on #100
@Tiya0310 ??

[2022-04-08 15:21] harshita214 commented on #214
@GAbdulWahab Sure go ahead
All the best 👍

[2022-04-08 15:22] harshita214 commented on #230
@shreya024 Sure go-ahead
Are you using any API for the same?

[2022-04-08 15:22] harshita214 commented on #225
@Sukriti-m Sure go ahead
All the best 👍

[2022-04-08 15:23] harshita214 commented on #216
@Akriti-007 kindly create PR

[2022-04-08 15:24] harshita214 commented on #212
@iamrahulmahato great!
Have you completed?

[2022-04-08 15:50] iamrahulmahato commented on #212
@harshita214 no just working on it

[2022-04-08 15:50] iamrahulmahato commented on #212
@harshita214 no just working on it

[2022-04-08 22:18] iamrahulmahato commented on #212
@harshita214 sorry I  will not be able to submit the issue
I made everything from design to the logic of js but the issue is the API that I got is not fetching your recent videos but what its doing is fetching the recent videos of the person who made that API

[2022-04-09 05:04] abhilipsasahoo03 opened #234 "Add Issue Template and PR template"
I think adding issue template and PR template will make content of issues and PR consistent and easy to track. Also, I think contributors will also find issues and PRs easy to write by following the template. I'm a GSSOC'22 contributor and I'd like to be assigned this issue.

[2022-04-09 05:04] abhilipsasahoo03 commented on #234
@harshita214 please assign me this issue.

[2022-04-09 09:34] harshita214 commented on #234
Yes this is a good idea @abhilipsasahoo03

Can you send the draft template before creating PR

[2022-04-09 09:40] harshita214 commented on #228
@ravenclaw-10 there is already an extension called [Latest news](https://github.com/harshita214/Chrome-Extension/tree/main/Latest%20News)

You can enhance it

If your idea is different then explain it

[2022-04-09 09:52] #225 closed

[2022-04-09 11:15] abhilipsasahoo03 commented on #234
Hi @harshita214 here are the screenshots of the issue templates and PR template I have planned to add:
![Screenshot_2022-04-09-16-39-46-892_com.android.chrome.jpg](https://user-images.githubusercontent.com/80174214/162569464-8469b9b9-12cb-4fcb-9aea-e98fed8d0773.jpg)![Screenshot_2022-04-09-16-39-54-900_com.android.chrome.jpg](https://user-images.githubusercontent.com/80174214/162569466-4bccb290-b76

[2022-04-10 04:05] #230 closed

[2022-04-10 09:34] ravenclaw-10 commented on #228
Okay I have the same idea. Thank you

[2022-04-10 09:34] #228 closed

[2022-04-10 18:16] GAbdulWahab commented on #214
@harshita214  I have this week's Midterm Exams, I will start in it after this week

[2022-04-11 14:10] Sukriti-m opened #239 "Currency Converter"
An extension that will convert the INR to USD and vice-versa. This will be helpful to the users as sometimes one needs to compare the prices.

I am contributor at GSSoC22. Please assign this issue to me.

@harshita214

[2022-04-11 15:16] #234 closed

[2022-04-11 16:41] khushbooshakya opened #240 "Drinking Water Extension"
### Is your extension request related to a problem? Please describe.

This small extension will help in reminding of drinking at regular intervals of time.As we all know that we got busier with our laptops than we forget to take care of our health . Staying hydrated is an essential part of maintaining good health.

### Describe the solution you'd like.

This simple extension will help to remind dr

[2022-04-12 10:03] #144 closed

[2022-04-12 11:23] shreya024 opened #241 "MP4 to MP3 Video Converter"
### Is your extension request related to a problem? Please describe.

This extension will convert any Youtube,SoundCloud,Twitter,Instagram video(mp4) to mp3 format

### Describe the solution you'd like.

I will use yt-download.org api to make the extension

### Describe alternatives you've considered.

I would like to work on this issue. Kindly assign @harshita214

### Add any other context or scr

[2022-04-14 09:20] Ashish4321-hub opened #243 "Improve styling of chrome extension"
### What happened?

 Hello,I m gssoc contributor.
Styling of chrome extension is not good .Search bar is not placed well.Text are not not .
Please assign me this issue to improve styling.
![Screenshot_2022-04-12-19-59-58-54_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/88235823/163354603-6a290139-560b-4b98-817a-42287a33cdd8.jpg)

### How can we reproduce this bug?

I

[2022-04-15 02:23] shreya024 commented on #12
@harshita214 @Spring-dot I would like to work on this issue. Kindly assign

[2022-04-15 12:11] Sulagna-Dutta-Roy opened #245 "Title: Color Picker Extension"
### Is your extension request related to a problem? Please describe.

I will be creating simple extension that can pick any color of the website. It will help us to find the color codes.

### Describe the solution you'd like.

I will use html5, css, javascript.

### Describe alternatives you've considered.

NA

### Add any other context or screenshots about the extension here.

Please assign me th

[2022-04-15 15:59] Umesh-01 commented on #133
I am Project Admin of Python Assistant

[2022-04-15 16:57] harshita214 commented on #241
Sure
Go ahead @shreya024
All the best 👍

[2022-04-15 16:58] harshita214 commented on #243
Wrong Repository!

[2022-04-15 16:58] #243 closed

[2022-04-15 16:59] harshita214 commented on #223
@komalswami Create a PR by EOD

[2022-04-15 16:59] harshita214 commented on #221
@dee-ksha ??

[2022-04-15 17:02] harshita214 commented on #240
@khushbooshakya there is already an [extension](https://github.com/harshita214/Chrome-Extension/tree/main/Water%20breaksl) present you can enhance its features or if your idea is different from this then explain it briefly

[2022-04-15 17:05] komalswami commented on #223
hey I am working on it but it will take some time.

On Fri, 15 Apr, 2022, 10:29 pm Harshita sharma, ***@***.***>
wrote:

[2022-04-16 03:42] dee-ksha commented on #221
I'm still working on it. I'll be creating a pr soon.

[2022-04-16 05:39] Kumar-Ankit56 opened #247 "Submit response Popup button"
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my project which is a Submit response Popup button.

The idea behind this project :
This is just like when we submit our response then a popup arises for confirmation.

How does it work
Here we have a submit button that will preview when you will click on submit button then thanks popup confirmation button wi

[2022-04-16 05:52] Kumar-Ankit56 opened #248 "Dice-Roller-game Extension"
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my project which is a Dice-roller -game.

### The idea behind this project :
Like in our childhood we have played this game on board as we have 2 dice and we through it simultaneously, mate who will get more numbers on dice will win the game.

### How does it work
At the starting you will observe the game nam

[2022-04-16 19:28] Sulagna-Dutta-Roy commented on #245
@harshita214 kindly assign me this Issue

[2022-04-18 13:45] harshita214 commented on #245
@Sulagna-Dutta-Roy
There is an extension similar to this [Color Picker](https://github.com/harshita214/Chrome-Extension/tree/main/Hex%20code%20color%20picker%20extension) and another one [Dark Theme Color Palette Generator](https://github.com/harshita214/Chrome-Extension/tree/main/Dark%20ColorGen)

You can think of enhancing any one of them
Or if your idea is different from the above 2 then kindly

[2022-04-18 13:53] Sulagna-Dutta-Roy commented on #245
Oh Similar to this extension. But my extension will work on websites , when user will click the button it will fetch the color of the website and display it.

[2022-04-18 14:08] harshita214 commented on #245
@Sulagna-Dutta-Roy the color picker also does the same, You can view it.

Also as of fetch will it automatically displays all color of the website? Or through a pointer?

[2022-04-18 14:10] Sulagna-Dutta-Roy commented on #245
Yeah I checked. Similar project it is.

[2022-04-18 14:28] Sulagna-Dutta-Roy commented on #245
Can I close it ??? I will make new Issue then.

[2022-04-18 14:32] Mrjoy832 opened #250 "Calculate Loan Extension:"
### Is your extension request related to a problem? Please describe.

Loan Calculator is an Extension helps to calculate Loan on any principle amount , it will be displayed at screen.

### Describe the solution you'd like.

I will use HTML,CSS,JS for the structure of the UI and working . Json will be used also .

### Describe alternatives you've considered.

NA

### Add any other context or screen

[2022-04-18 16:13] harshita214 commented on #245
Sure!

[2022-04-18 16:13] #245 closed

[2022-04-18 16:14] harshita214 commented on #248
Sure @Kumar-Ankit56 Go ahead with this extension
You have to make a extension of dice roller game

[2022-04-18 16:16] harshita214 commented on #248
While submitting a PR

- [ ]  Create a folder of all codes
- [ ]  Add a readme file with a proper description of the extension, screenshot, and video of extension implementation
- [ ]  In PR add what extension you worked by tagging issue and ss of that extension

All the best 👍

[2022-04-18 16:17] harshita214 commented on #247
@Kumar-Ankit56
Can you explain more briefly
 What are the use and features

[2022-04-18 16:17] harshita214 commented on #250
@Mrjoy832 Is it like a simple interest/compound interest calculator?

[2022-04-18 16:19] harshita214 commented on #239
@Sukriti-m There is [currency converter](https://github.com/harshita214/Chrome-Extension/tree/main/Currency%20Convertor) already present you can look to enhance this
OR if your idea is different from this then kindly explain briefly

[2022-04-18 16:36] Mrjoy832 commented on #250
Whatever You want between those ..say I will make

[2022-04-20 01:46] #146 closed

[2022-04-20 01:46] Mrjoy832 commented on #250
I will make compound interest..is it okay???

[2022-04-20 01:47] #115 closed

[2022-04-20 01:47] harshita214 commented on #100
@Tiya0310 make a PR by EOD

[2022-04-20 01:47] #121 closed

[2022-04-20 01:48] Mrjoy832 commented on #250
I wanted to say...that which one is required between Simple/compound ? tell me ...I will work on that

[2022-04-21 06:57] Spring-dot commented on #250
There is already a simple/compound interest calculator. You can work for calculating different types of loans with different time duration for compound interest.

[2022-04-23 02:14] harshita214 commented on #241
Completed - #246

[2022-04-23 02:14] #241 closed

[2022-04-23 17:00] Sulagna-Dutta-Roy opened #251 "Simple Paint App Extension"
I will be creating one chrome extension using html5, css, javascript.  That user can use the canvas anytime and can do rough works. Please assign me this Issue.

[2022-04-24 00:52] #131 closed

[2022-04-26 09:15] whiteHatpro commented on #223
@komalswami please update the extension asap

[2022-04-26 09:17] whiteHatpro commented on #211
@shr-code update?

[2022-04-26 09:38] whiteHatpro commented on #197
@ishabhthakur please update

[2022-04-26 09:42] #158 closed

[2022-04-26 09:42] #142 closed

[2022-04-26 09:43] whiteHatpro commented on #161
@dvlsatya update please

[2022-04-26 09:46] #231 closed

[2022-04-28 08:00] whiteHatpro commented on #247
@Kumar-Ankit56 update?

[2022-04-28 08:11] #200 closed

[2022-04-28 08:13] #192 closed

[2022-04-28 08:14] whiteHatpro commented on #170
@shreya024 thanks for contributing and the labels are added!!

[2022-04-28 08:14] #170 closed

[2022-04-28 08:15] whiteHatpro commented on #214
update?

[2022-04-28 08:16] whiteHatpro commented on #239
@Sukriti-m closing this issue are there is no response from your side
In future if u have any idea we'll open this for you

[2022-04-28 08:16] #239 closed, assigned to nobody

[2022-04-28 08:16] whiteHatpro commented on #197
@ishabhthakur closing this issue as there is no response from your side

[2022-04-28 08:16] #197 closed

[2022-04-28 08:18] whiteHatpro commented on #12
@shreya024 assigning this issue to you
All the best
keep me updated with the extension building!!

[2022-04-28 08:18] whiteHatpro commented on #251
@Sulagna-Dutta-Roy please explain the issue a bit more

[2022-04-28 08:19] #250 closed

[2022-04-28 09:39] Sulagna-Dutta-Roy commented on #251
It will be drawing app with paint instruments. User can fill colors, save the images and canvas will be provided here.

[2022-04-28 09:43] shreya024 commented on #170
No the labels are not yet added.Kindly add the labels to my PR

[2022-04-29 05:47] Spring-dot commented on #240
@khushbooshakya update? If you are thinking of any enhancement?

[2022-04-29 05:48] Spring-dot commented on #221
@dee-ksha update?

[2022-04-29 09:54] #240 closed

[2022-04-29 14:05] Sulagna-Dutta-Roy commented on #251
@whiteHatpro Is this Issue relevant or not ?? Let me know so I can open new Issue. Or assign me this

[2022-04-30 04:05] #212 closed

[2022-04-30 04:08] #218 closed

[2022-04-30 15:48] #221 closed

[2022-05-01 10:45] whiteHatpro commented on #251
@Sulagna-Dutta-Roy okay assigning to you
All the best!!

[2022-05-01 10:53] whiteHatpro commented on #170
the labels are present shreya there might be some glitch from your side

[2022-05-01 11:00] shreya024 commented on #170
The labels are only added to the issue not to my PR. The labels need to be added to my PR in order to increase my score on the leaderboard.Kindly add the labels to my PR.

[2022-05-01 14:51] shashank2906 commented on #129
The PR (#244) for this issue is merged

[2022-05-02 03:25] shreya024 commented on #12
Thank you for merging.Kindly add level2 to my PR

[2022-05-03 08:48] Adhetya opened #255 "Title: Create a webpage containing all the extensions"
### Is your extension request related to a problem? Please describe.

It is hard to look at all the live demo versions extensions in the repository. Creating a webpage hosting them all would be a good way to showcase all the contributions.

I am a GSSOC 22 contributor. Please assign this issue to me.

### Describe the solution you'd like.

Create a webpage using HTML, CSS and JS and importing all

[2022-05-03 17:52] whiteHatpro commented on #12
@shreya024 the level is already been decided

[2022-05-03 17:52] #12 closed

[2022-05-03 17:55] whiteHatpro commented on #170
@shreya024 done!!

[2022-05-03 17:57] #247 closed

[2022-05-03 18:07] #36 closed

[2022-05-03 18:09] whiteHatpro commented on #186
@AnkushVerma000 do you want to work on this isssue?

[2022-05-03 19:54] shashank2906 opened #256 "UI enhancement of Tab Tracker Extention"
### Which pre-existing extension will you be working on?

Tab Tracker

### Describe your enhancement/improvement

The UI , Design , colors of the extention needs to be improved , so i'll be working on enhancing the UI of the mentioned extention .

### Add any other context or screenshots about the enhancement here.

_No response_

[2022-05-04 16:28] akanksha0209 opened #257 "Play Beat"
### Is your extension request related to a problem? Please describe.

No

### Describe the solution you'd like.

A music player which continues to play music as we browse. Please assign this issue to me.

### Describe alternatives you've considered.

It can play music continuously as one browses.

### Add any other context or screenshots about the extension here.

_No response_

[2022-05-06 20:50] #251 closed

[2022-05-07 01:46] Mrjoy832 opened #258 "Wheel of Fortune"
### Is your extension request related to a problem? Please describe.

It's a Wheel of Fortune type game ,where in a rotating wheel there will be few number of objects. You will be provided a button to start the game and thee wheel Start rotating , and stop after few times and there will be an indicator , where it points that's yours.

### Describe the solution you'd like.

I will use HTML,CSS,JAVA

[2022-05-07 01:46] Mrjoy832 commented on #258
@harshita214 @whiteHatpro kindly assign

[2022-05-07 01:51] Mrjoy832 commented on #258
@whiteHatpro kindly assign

[2022-05-07 05:43] whiteHatpro commented on #258
@Mrjoy832 all the best!!

[2022-05-07 12:48] shashank2906 opened #260 "Live Crypto Price Tracker extention"
### Is your extension request related to a problem? Please describe.

There are a lot of times when we want to check and compare prices of different crypto currencies for crypto investors , so i am trying to get an extention for making the process a little fast .

### Describe the solution you'd like.

This is a REST-api extention which generally is like a crypto dashboard for us , we can track pr

[2022-05-07 12:49] #260 closed

[2022-05-07 19:32] #258 closed

[2022-05-08 19:53] Sulagna-Dutta-Roy opened #261 "Tip Calculator Extension"
### Is your extension request related to a problem? Please describe.

I will be creating one simple chrome extension called tip calculator. User can use this extension in any restaurants,malls, food center etc.

### Describe the solution you'd like.

I will use html5, css, javascript for this.

### Describe alternatives you've considered.

NA

### Add any other context or screenshots about the ext

[2022-05-09 16:09] Sukriti-m opened #262 "Quiz Extension"
### Is your extension request related to a problem? Please describe.

I will make a Quiz Extension in which the user will see a question and then will have to guess the correct answer.

### Describe the solution you'd like.

I will use HTML,CSS ,JS.

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the extension here.

I am contributor at GSSoC '22. P

[2022-05-09 18:07] akanksha0209 commented on #257
Please assign this to me

[2022-05-10 15:28] #248 closed

[2022-05-10 19:58] Sulagna-Dutta-Roy commented on #100
Can I work on this Issue ? Then assign me on this @whiteHatpro @harshita214

[2022-05-11 17:40] srishtig2412 commented on #262
I would like to work on this
@harshita214

[2022-05-12 08:59] SamarthKadam opened #263 "Fake Hacks"
Can I add this project which removes all the images and replace it with hacked images like it can be used for fake hacking.It is simply
 built using javascript Can I add this?

[2022-05-12 16:31] #255 closed

[2022-05-13 11:38] whiteHatpro commented on #261
@Sulagna-Dutta-Roy all the best!!
happy contributing

[2022-05-14 05:47] Spring-dot commented on #263
@SamarthKadam  What will be the utility of this? Can you explain in detail?

[2022-05-14 05:55] Spring-dot commented on #262
@Sukriti-m will you be working on this? @srishtig2412 Since @Sukriti-m  asked first, let her decide.

[2022-05-14 05:58] Spring-dot commented on #257
@akanksha0209 There is already an extension [Music Mode](https://github.com/harshita214/Chrome-Extension/tree/main/Music%20Mode) you can think of any enhancement in this.

[2022-05-14 06:23] SamarthKadam commented on #263
It is basically pranking the person using this extension. It replaces all the images where user visits with the provided link of image.
It doesn't have any utility but can be used for fun.

[2022-05-14 12:55] Sukriti-m commented on #262
Yes, I'd like to work on this.

[2022-05-15 16:20] komalsoni4 commented on #214
hey , Please assign this issue to me

[2022-05-15 16:21] komalsoni4 commented on #1
can I contribute to this issue ?

[2022-05-15 18:51] navyasharma0203 commented on #100
Can I work on this issue....part of GSSOC'22??

[2022-05-15 18:52] navyasharma0203 commented on #256
Can you work on this issue??....GSSOC'22

[2022-05-15 18:54] navyasharma0203 commented on #174
@harshita214 Can I work on this issue??

[2022-05-16 06:40] whiteHatpro commented on #100
@Sulagna-Dutta-Roy sure!!
All the best🚀

[2022-05-16 06:42] whiteHatpro commented on #1
yes @komalsoni4 of course you can!!
All you need is come up with a idea of the extension and brief them in the issue section

[2022-05-16 06:43] whiteHatpro commented on #214
@komalsoni4 all the best
Make sure you keep me posted about the updates

[2022-05-16 06:44] #129 closed

[2022-05-16 06:45] whiteHatpro commented on #136
@nickel-28 any update?

[2022-05-16 06:45] #210 closed

[2022-05-16 06:45] #211 closed

[2022-05-16 06:46] whiteHatpro commented on #174
@navyasharma0203 sure!
all the best

[2022-05-16 06:46] #133 closed

[2022-05-16 06:47] #216 closed

[2022-05-16 06:47] #149 closed

[2022-05-16 06:48] #113 closed

[2022-05-16 06:48] #186 closed

[2022-05-16 06:48] #223 closed

[2022-05-16 06:49] #261 closed

[2022-05-16 14:49] komalsoni4 commented on #214
ya sure

[2022-05-16 17:21] shashank2906 commented on #256
Yes u can if you want , i am already working on it

[2022-05-18 17:09] hariketsheth opened #265 "Github File Structure - Chrome Extension"
### Is your extension request related to a problem? Please describe.

- Would like to add a Chrome Extension for Github
- This would show the File structure of the Github repositories
- It is very difficult in Github because every time user have to click and check the folder structure. User can't view the full File Structure all at once.

### Describe the solution you'd like.

I would like to impl

[2022-05-18 17:10] hariketsheth commented on #265
Assign this to me @harshita214 @whiteHatpro

[2022-05-18 17:19] hariketsheth opened #267 "Chrome Extension - Dictionary"
### Is your extension request related to a problem? Please describe.

- Chrome Extension required for word search and meaning
- A Dictionary would be implemented in Chrome Extension

### Describe the solution you'd like.

- Chrome Extension would be the solution

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the extension here.

_No response_

[2022-05-18 17:25] hariketsheth opened #269 "Crypto-Currency Statistics Chrome Extension"
### Is your extension request related to a problem? Please describe.

- Chrome Extension required for updates on Crypto Currency
- Since Blockchain is gaining a lot of attention these days, this extension is highly required

### Describe the solution you'd like.

- Chrome Extension would be implemented to solve the issue

### Describe alternatives you've considered.

.

### Add any other context o

[2022-05-18 17:25] #269 closed

[2022-05-18 17:51] hariketsheth commented on #269
Assign this to me @harshita214 @whiteHatpro

[2022-05-18 17:52] hariketsheth opened #271 "Chrome Extension - Sports News : Latest"
### Is your extension request related to a problem? Please describe.

Extension required for Sport News

### Describe the solution you'd like.

A Chrome Extension required for Sport News (Latest)

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the extension here.

_No response_

[2022-05-18 17:53] #271 closed

[2022-05-22 19:55] Kanika2772002 commented on #214
Hey @harshita214  can you please assign this task to me?

[2022-05-23 04:36] harshita214 commented on #267
@hariketsheth there is already an extension [this](https://github.com/harshita214/Chrome-Extension/tree/main/Meaning%20of%20word%20extensions) which is similar to your idea. You can look at it and enhance it.

With reference to your PR #268 yours is similar to the already present one.

[2022-05-23 04:39] harshita214 commented on #265
@hariketsheth can you explain this extension more briefly

[2022-05-23 04:56] #267 closed

[2022-05-23 18:39] Priyanshi662 opened #273 "Add Pokemon generator extension"
Extension displays random pokemon and shows its type, attack, defense and speed. Below is the screenshot of the extension I made
<img width="261" alt="Screenshot 2022-05-24 000840" src="https://user-images.githubusercontent.com/77521822/169885145-14cf5973-5d33-4931-af56-c81ed5613be9.png">

[2022-05-23 18:39] Priyanshi662 commented on #273
Kindly assign me this issue under GSSOC'22.

[2022-05-26 07:46] hariketsheth opened #274 "GitHub Web IDE"
### Is your extension request related to a problem? Please describe.

This extension adds to any GitHub repository a new drop down menu which offers links to a number of online services that allow viewing the source code of the repository in an IDE like interface.

### Describe the solution you'd like.

A implementation in the form of Chrome Extension

### Describe alternatives you've considered.

[2022-05-28 05:33] harshita214 commented on #273
Sure go ahead @Priyanshi662
All the best

[2022-05-28 05:34] harshita214 commented on #274
@hariketsheth Sure go ahead
All the best

[2022-05-28 05:34] harshita214 commented on #263
Sure go-ahead
All the best

[2022-05-28 05:40] #257 closed

[2022-05-28 05:40] harshita214 commented on #262
@Sukriti-m Kindly create a PR by EOD

[2022-05-28 05:41] harshita214 commented on #174
@navyasharma0203 update ?

[2022-05-28 05:42] harshita214 commented on #100
@Sulagna-Dutta-Roy Update??

[2022-05-28 05:43] harshita214 commented on #214
@komalsoni4 unassigning the issue to you

@Kanika2772002 assigning you
All the best 👍

[2022-05-28 05:43] harshita214 commented on #256
@shashank2906 ?

[2022-05-28 05:43] #136 closed

[2022-05-28 05:44] harshita214 commented on #161
@dvlsatya ??

[2022-05-28 07:03] navyasharma0203 commented on #174
almost done....

[2022-05-28 07:42] hariketsheth opened #278 "Live CSS Style Editor : Websites"
### Is your extension request related to a problem? Please describe.

This extension would allow users and developers to update the CSS of the webpage and test it in real time.
This extension would be helpful for them in case they want to test any particular styling / animation effect on the page, without having the need to write code first, save the file, and then run it.

### Describe the soluti

[2022-05-28 07:43] #278 closed

[2022-05-28 11:19] shashank2906 commented on #256
need a little time ,
probably will be completed tomorrow

[2022-05-28 16:43] Sulagna-Dutta-Roy commented on #100
Actually my college running. So I can't able to make this PR. Kindly unassigned me from this. @harshita214

[2022-05-28 17:55] Mrjoy832 opened #279 "Random Name Generator"
### Is your extension request related to a problem? Please describe.

I want to add **Random Name Generator** extension which will generate Random Names for the users

### Describe the solution you'd like.

I will use HTML,CSS,JS to implement this.

### Describe alternatives you've considered.

NA

[2022-05-28 17:56] Mrjoy832 commented on #279
@harshita214 please assign

[2022-05-28 17:59] Mrjoy832 opened #280 "Stop Watch Extension"
### Is your extension request related to a problem? Please describe.

I want to add  **Stop Watch Extension** , which will be help to countdown time which will be set as input by the users.

### Describe the solution you'd like.

I will use HTML,CSS,JS to implement this.

[2022-05-28 18:00] Mrjoy832 commented on #280
@harshita214 please assign

[2022-05-28 19:11] hariketsheth opened #281 "Live CSS Style Editor : Wesbites"
### Is your extension request related to a problem? Please describe.

This extension would provide a Live CSS Editor that would give users and developers an option to directly modify the styling, CSS of the whole webpage and see a live output.
Since this is a utility extension, it would add a lot of helpful and ease to the developers

### Describe the solution you'd like.

A Chrome extension for t

[2022-05-28 19:12] #281 closed

[2022-05-28 19:32] hariketsheth opened #283 "Sketchify: Extension for Developers - GitHub"
### Is your extension request related to a problem? Please describe.

- A Chrome Extension that would help artistic people for sketching purposes

### Describe the solution you'd like.

- A chrome extension would help solve this issue

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the extension here.

_No response_

[2022-05-28 19:33] #283 closed

[2022-05-28 20:02] hariketsheth opened #285 "DevQuery Comment Generator"
### Is your extension request related to a problem? Please describe.

- A Chrome Extension to generate comments automatically.
- This DevQuery Comment Generator would be helpful for the developers

### Describe the solution you'd like.

.

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the extension here.

_No response_

[2022-05-28 20:03] #285 closed

[2022-05-28 20:09] hariketsheth opened #286 "Developer Color : Chrome Extension"
### Is your extension request related to a problem? Please describe.

This extension would be helpful for the developers
Since this extension would be highlighting the words such as Frontend, Backend, Developers.

### Describe the solution you'd like.

.

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the extension here.

_No response_

[2022-05-28 20:10] #286 closed

[2022-05-29 12:11] hariketsheth opened #290 "GitHub Extension for Showing Repository and File Sizes"
### Is your extension request related to a problem? Please describe.

A Chrome Extension that would not only display Repository size but also individual file sizes.

### Describe the solution you'd like.

.

### Describe alternatives you've considered.

.

### Add any other context or screenshots about the extension here.

_No response_

[2022-05-29 12:12] #290 closed

[2022-05-29 12:28] hariketsheth opened #292 "Github: PR Monitor"
### Which pre-existing extension will you be working on?

This would help the developers have a dashboard view and status of all their contributions made and received on several Repositories. Whether the PRs are muted, Reviewed, Or Still pending Reviews.

### Describe your enhancement/improvement

.

### Add any other context or screenshots about the enhancement here.

.

[2022-05-30 05:44] hariketsheth opened #294 "Helper Extension for Chrome : Toolbox"
### Is your extension request related to a problem? Please describe.

- A Full set of tools Chrome Extension to be implemented .
- This includes a lot of features such as Dyslexia Mode, Full Immersive Reader, Text to Speech, Voice Typing, Word Prediction, Screenshot, Color Blindness, Reading List, Bookmarks

### Describe the solution you'd like.

.

### Describe alternatives you've considered.

.

[2022-05-30 05:45] #294 closed

[2022-05-30 05:50] #265 closed

[2022-05-30 05:51] #262 closed

[2022-05-30 05:52] harshita214 commented on #256
@shashank2906 ?

[2022-05-30 06:05] #274 closed

[2022-05-30 06:11] shashank2906 commented on #256
sorry , not able to complete the task ,
U can close the issue

Thank you

[2022-05-30 06:17] harshita214 commented on #256
O

[2022-05-30 06:17] #256 closed

[2022-05-31 10:35] #273 closed

[2022-08-07 12:44] ChiaSuen opened #297 "Decimal, Binary, Hexadecimal & Octal Converter"
### Is your extension request related to a problem? Please describe.

I want to add Decimal, Binary, Hexadecimal & Octal Converter extension which can be used to convert number for any of these formats to the other three

### Describe the solution you'd like.

I will use HTML,CSS,JS to implement this.

### Describe alternatives you've considered.

NA

### Add any other context or screenshots about

[2022-09-07 14:52] Jehan-h20220012 commented on #280
I would like to help you! Please allow to to contribute to your work as a part of my acedamics which will help you solve your provided issue.

[2022-09-14 18:04] NageshMandal commented on #297
I want to work on this issue. Could you please assign it to me.

[2022-10-12 05:41] Gaurav762 commented on #280
Hey @Mrjoy832
I would like to work on this issue please assign this to me.
Github profile-https://github.com/Gaurav762
Email Id- bhoirgava19it@student.mes.ac.in
Project Approach- I will use HTML, CSS and JavaScript for this issue.
Thanks

[2022-10-12 08:22] Mrjoy832 commented on #280
Hey I am not owner of this repo, I have not access on this ...so ask to the repo owner

[2022-10-12 13:01] Gaurav762 commented on #280
Hey @harshita214
I would like to work on this issue please assign this to me.
Github profile-https://github.com/Gaurav762
Email Id- [bhoirgava19it@student.mes.ac.in](mailto:bhoirgava19it@student.mes.ac.in)
Project Approach- I will use HTML, CSS and JavaScript for this issue.
Thanks

[2022-11-25 13:22] joelrohrbach opened #300 "[DOCS] correct spelling mistakes and punctuation faults."
### Description

Correcting small mistakes on README.md like " more good".

Also adding some punctuations, which are missing.

### Screenshots

_No response_